{% extends "settings.html" %}
{% block tabcontent %}
<div class="tab-pane active text-style" id="tab2">
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
            <form class="form-horizontal" data-toggle="validator" role="form" action="" method="post"> {% csrf_token %}
              <input type="hidden" name="formtype" value="changepassword">
            <fieldset>
              <legend class="text-center">Create your password here</legend>
              <!-- New Password -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Password</label>
                <div class="col-md-8">
                  <input id="inputPassword" name="new_password1" type="password" data-toggle="validator" data-minlength="6" placeholder="Enter your new password here" class="form-control" required>
                </div>
              </div>
              
              <!-- Retype New Password -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Confirm Password</label>
                <div class="col-md-8">
                  <input id="inputPasswordConfirm" name="new_password2" type="password" placeholder="Retype your password here" class="form-control" data-minlength="6" data-match="#inputPassword" data-match-error="Your two passwords don't match" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              {% if user_form.errors %}
                {{user_form.errors}}
              {% endif %}
              {% if user_form.new_password2.errors %}
                  {{user_form.new_password2.errors}}
              {% endif %}
              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary btn-md">Save</button>
                </div>
              </div>
            </fieldset>
            </form>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock tabcontent %}