{% extends "settings.html" %}
{% block tabcontent %}
<div class="tab-pane active text-style" id="tab3">
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well well-sm">
            <h2></h2>
            <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum 
              iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
              facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit 
              augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
              <hr> 
        </div>
      </div>
    </div>
</div>
</div>

{% endblock tabcontent %}