{% extends "settings.html" %}
{% block tabcontent %}
<div class="tab-pane active text-style" id="tab1">
    <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column">
      	
      
	        
		         <h5 class="text-center">GENERAL SETTINGS</h5>


          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
           
            <div class="row clearfix">
            <div class="col-md-4 col-md-offset-4 column text-center">
              <div class="ratio img-responsive img-circle" style="background-image: url({{user.get_profile_pic}});"></div>
              <div class="input-file">
                <input type="file" name="avatar" id="file"/>
              </div><!-- ./input-file -->
            </div><!-- ./column -->
          </div><!-- ./row -->
          
            <br>

            <!-- Name input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>FIRST NAME</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                <input id="first_name" name="first_name" type="text" placeholder="" value={{user.first_name}} class="form-control input-xs">
              </div><!-- ./form-group -->
              {{ user_form.first_name.errors }}
              </div><!-- ./column -->
            </div><!-- ./row -->

            <!-- Last Name input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>LAST NAME</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                <input id="last_name" name="last_name" type="text" placeholder="" value={{user.last_name}} class="form-control input-xs">
              </div><!-- ./form-group -->
                {{ user_form.last_name.errors }}
              </div><!-- ./column -->
            </div><!-- ./row -->

            <!-- Username input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>USERNAME</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                <input id="displayname" name="displayname" type="text" placeholder="" class="form-control input-xs" value={{user.displayname}}>
              </div><!-- ./form-group -->
                {{ user_form.displayname.errors }}
              </div><!-- ./column -->
            </div><!-- ./row -->

            <!-- Email input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>EMAIL</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                <input id="email" name="email" type="text" placeholder="" class="form-control input-xs" value={{user.email}}>
              </div><!-- ./form-group -->
                {{ user_form.email.errors }}
              </div><!-- ./column -->
            </div><!-- ./row -->

            <!-- LOCATION input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>LOCATION</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                <select class="btn-classic" data-size="5" name="city">
            <option data-icon="glyphicon glyphicon-map-marker theme-colour">{{user.address.city}}</option>
            <option>Toronto</option>
            <option>Brampton</option>
            <option>Markham</option>
            <option>Mississauga</option>
            <option>Richmond Hill</option>
            <option>Vaughan</option>
            <option>Oakville</option>
            </select>
              </div><!-- ./form-group -->
              </div><!-- ./column -->
            </div><!-- ./row -->


            <!-- ADDRESS input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>ADDRESS 1</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                  <input placeholder="Street Address, P.O box, company name, etc" class="form-control input-xs" name="streetaddress" value="{{user.address.streetaddress}}">
              </div><!-- ./form-group -->
                
              </div><!-- ./column -->
            </div><!-- ./row -->

            <!-- ADDRESS input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>ADDRESS 2</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                  <input placeholder="Apartment, suite, unit, building, floor, etc." class="form-control input-xs" name="streetaddress_2" value="{{user.address.streetaddress_2}}">
              </div><!-- ./form-group -->
              </div><!-- ./column -->
            </div><!-- ./row -->

            <!-- POSTAL CODE input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>POSTAL CODE</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                  <input placeholder="M8V 0A5" class="form-control input-xs" name="postalcode" value="{{user.address.postalcode}}">
              </div><!-- ./form-group -->
              </div><!-- ./column -->
            </div><!-- ./row -->

            <!-- PHONE NUMBER input-->
            <div class="row clearfix">
              <div class="col-md-4 column text-right">
                <h6>PHONE NUMBER</h6>
              </div>
              <div class="col-md-8 column">
                <div class="form-group">
                  <input placeholder="xxx-xxx-xxxx" class="form-control input-xs" name="phone" value="{{user.phone}}">
              </div><!-- ./form-group -->
              </div><!-- ./column -->
            </div><!-- ./row -->

              <div class="row clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 column text-center">
                <button type="submit" class="btn btn-fatty btn-lg">SAVE</button>
              </div><!-- ./column -->
            </div><!-- ./row -->
            <br><br>
          </form>     
        
      </div>
    </div>
</div>
</div>  <!-- End of tab-pane -->    
{% endblock tabcontent %}



{% comment %}
              <!-- Location input-->
              <div class="form-group">
                <h6 class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label">LANGUAGE</h6>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column"> 
                  <select class="btn-classic" data-size="5" name="language">
              <option value="English">English</option>
              <option value="French">French</option>
               </select>
                </div><!-- ./column -->
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column"></div>  
              </div>  <!-- ./form-group -->
{% endcomment %}