{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
<link href={% static "css/feature.css" %} rel="stylesheet">
{% endblock localhead %}
{% block content %}
<!-- This is the main container (#scroll-container) -->
    <div class="row" id="scroll-container">
            <div class="content">
                {% for quest in  allquests %}
                <!-- Single post -->
                
                <div class="feature shadows body-borders">
                    <div class="picture">
                        
                        <a  href="/quest/{{quest.id}}" class="image" title="Title"><img src={{quest.item_images}}></a>

                        <div class="item-content">
                            <h4 class="title">{{quest.title | title}}</h4>

                            <p class="description">{{quest.description | truncatewords:10  }}</p>

                                <div class="post-info">
	                                <a href="/user/{{quest.questrs.displayname}}"> <p>{{quest.questrs.first_name}} {{quest.questrs.last_name}}</p></a>
	                              
	                                {# only allow shippers to see addresses #}
	                                {% if user.is_shipper == True %}
	                              
	                                    <p>From: {{quest.srcaddress}}</p>
	                                    <p>To: {{quest.dstaddress}}</p>
	                                    <p><span class="glyphicon glyphicon-time"></span>{{quest.creation_date | timesince}} ago</p>
	                                                         
	                                {% endif %}         
                                </div><!-- ./post-info -->
                        </div><!-- End of item-content -->
                    </div><!-- End of picture -->
                    
                </div><!-- ./feature -->
                <!-- Single post --> 
            
               {% endfor %}           
            </div>  <!-- ./content -->         
         </div><!-- ./row -->
{% comment %}
<div id="pages">
    <a href="index.html"></a>
    <a href="loadpage/page2.html"></a>
    <a href="loadpage/page3.html"></a>
    <a href="loadpage/page4.html"></a>
    <a href="loadpage/page5.html"></a>
    <a href="loadpage/page6.html"></a>
</div>
{% endcomment %}
{% endblock content %}
{% block scripts %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static 'js/libs/jquery.masonry.min.js' %}></script>
    <script src={% static 'js/base.js' %}></script>
    <script src={% static 'js/script.js' %}></script>
    {% comment %}
    ## This is for google plus based authentication ##
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
           <script type="text/javascript">
               (function () {
                   var po = document.createElement('script');
                   po.type = 'text/javascript';
                   po.async = true;
                   po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
                   var s = document.getElementsByTagName('script')[0];
                   s.parentNode.insertBefore(po, s);
               })();
           </script>           
    {% endcomment %}

{% endblock scripts %}