{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <!-- Custom CSS -->
    <link href={% static "css/smallpost.css" %} rel="stylesheet">
    <link href={% static "css/profile.css" %} rel="stylesheet">
    <link href={% static "css/trades.css" %} rel="stylesheet">
    
    <!-- Custom Javascript -->
    <script src={% static "js/validator.js" %}></script>
{% endblock localhead %}
{% block content %}
<div class="container">
    <div class="row">
       <div class="col-md-8 col-md-offset-2 column">    
       
       
	       <div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
			  <ul class="nav nav-tabs">
                    <li>
                        <a href="{% url 'mytrades' %}">My Offers</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'myposts' %}">My Posts</a>
                    </li>                   
                </ul>
		  </div>
		  <div class="list-group">   
			  {% for quest in  myquests %}
                    
                    	<a href="/quest/{{quest.id}}" class="list-group-item">
                              <div class="media col-md-2">
                                  <div  class="ratio img-responsive" style="background-image: url({{quest.item_images}});"></div>
                              </div>
                              <div class="col-md-6">
                                <h4 class="list-group-item-heading postTitle">{{quest.title}}</h4>
                                <p class="list-group-item-text postDesc">{{quest.description}}
                                </p>

                                <div class="smallInfo">
                                    <small class="light-grey"><span class="glyphicon glyphicon-user"></span>{{quest.questr_id.displayname}} &nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-map-marker"></span>{{quest.dstaddress}}, {{quest.dstcity}}</small>
                                </div><!-- ./smallInfo -->
                              </div>
                              <div class="col-md-4">
                                  <p><span class="money">${{quest.reward}}</span><span class="postDate">{{quest.creation_date}}</span></p>
                        </div>
                             
                        </a>
             {% endfor %}
                        
        </div>	<!-- End of list-group -->
       
	    </div>    
        </div>
    </div>  <!-- End of column -->          
    </div>  <!-- End of row -->
</div>  <!-- End of container -->


{% endblock content %}    
{% block scripts %}     
{% endblock scripts %}  