{% extends "settings.html" %}
{% block tabcontent %}
 <div class="tab-pane active text-style" id="tab2">
     <div class="container">
     <div class="row">
       <div class="col-md-6 col-lg-6">
         <div class="well well-sm">  
          {% if password %}
            <form class="form-horizontal" data-toggle="validator" action="" method="post"> {% csrf_token %}
              <input type="hidden" name="formtype" value="changepassword">
            <fieldset>
              <legend class="text-center">Change your password here</legend>
            
              <!-- Current Password -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Current password</label>
                <div class="col-md-8">
                  <input id="password" name="old_password" type="password" placeholder="Enter your current password here" class="form-control">
                </div>
              </div>
             {% if user_form.old_password.errors %}
                 {{user_form.old_password.errors}}
             {% endif %}
            
              <!-- New Password -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">New password</label>
                <div class="col-md-8">
                  <input id="inputPassword" name="new_password1" type="password" data-toggle="validator" data-minlength="6" placeholder="Enter your new password here" class="form-control" required>
                </div>
              </div>
              
              <!-- Retype New Password -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name"></label>
                <div class="col-md-8">
                  <input id="inputPasswordConfirm" name="new_password2" type="password" placeholder="Retype your password here" class="form-control" data-minlength="6" data-match="#inputPassword" data-match-error="Your two passwords don't match" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              {% if user_form.new_password2.errors %}
                  {{user_form.new_password2.errors}}
              {% endif %}
              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary btn-md">Save</button>
                </div>
              </div>
            </fieldset>
            </form>
          {% else %}
              You do not have a password yet. Please click <a href="/user/createpassword">here</a> to create a password !
          {% endif %}
            
           
         </div>
       </div>
     </div>
 </div>               
 </div>  <!-- End of tab-pane -->
{% endblock tabcontent %}