{% extends "mainbase.html" %}
{% load staticfiles %}
{% load endless %}
{% block localhead %}
    <link href={% static "css/profile.css" %} rel="stylesheet">
    <link href={% static "css/smallpost.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap-ellipsis.css" %} rel="stylesheet">
   <link href={% static "css/star-rating.css" %} media="all" rel="stylesheet" type="text/css"/>
    
    <!-- Custom Javascript -->
    <script src={% static "js/bootstrap-ellipsis.js" %}></script>
    <script src={% static "js/validator.js" %}></script>    
    <script src={% static "js/star-rating.js" %} type="text/javascript"></script>

{% endblock localhead %}
{% block content %}


<div class="container">
    <div class="row">
	    
        <!-- Profile -->
        <div class="col-md-2 column">  
         <div class="well">
             
              <div class="ratio img-responsive img-circle" style="background-image: url({{user.avatar_file_name}});"></div>
                    
            <center>
	            <h5 class="userName">{{user.first_name}} {{user.last_name}}</h5>  
	            
	            <input id="input-21e" value="{{final_rating}}" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" data-readonly="true" data-show-clear="false" data-show-caption="true" >
	                       			
			</center>
            
            	<p><span class="glyphicon glyphicon-map-marker"></span> Toronto, Ontario, Canada </p>
                <p>Quests Completed: {{quests_complete}} </p>
                <p>Quests Posted: {{quests_posted}} </p>                            
            
         </div>	<!-- End of Well -->                
        </div>	<!-- ./column -->
    
    
 
 
        <div class="col-md-8 column">    
	       <div class="panel panel-default shadows">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
			  Posts
		  </div>

		  <ul class="list-group">  

			  			<!-- Quest Post -->
                        {% paginate 5,5 questsbyuser %}
                        {% for quest in questsbyuser  %}
                         <!-- Quest Post -->
                         
                         <a href="/quest/{{quest.id}}">
				<li class="list-group-item">
				<div class="row clearfix">
				    <div class="col-sm-2">
					    <div class="ratio img-responsive" style="background-image: url({{quest.item_images}});"></div>
				    </div><!-- ./column -->
				    <div class="col-sm-6">
				        <h6 class="list-group-item-heading postTitle">{{quest.title}}</h6>
				        <p class="list-group-item-text postDesc">{{quest.description}}</p>

                                <div class="smallInfo">
                                    <small class="light-grey"><span class="glyphicon glyphicon-user"></span>{{quest.questr_id.displayname}} &nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-map-marker"></span>{{quest.dstaddress}}, {{quest.dstcity}}</small>
                                </div><!-- ./smallInfo -->
				    </div><!-- ./column -->
				    <div class="col-md-2 column">
                    	<p>${{quest.reward}}</p>
				    </div><!-- ./column -->
				    <div class="col-md-2 column">
	                    <p><span class="glyphicon glyphicon-time"></span>{{quest.creation_date}}</p>
				    </div><!-- ./column -->
				</div><!-- ./row -->
				</li><!-- list-group-item -->	
			</a> 
                         
                        {% endfor %}
		  </ul>
                        
        </div>	<!-- ./panel -->
        {% show_pages %}
        </div><!-- ./column -->
        
        
        
        
        
        
        
        <div class="col-md-8 column">    
	       <div class="panel panel-default shadows">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
			  Reviews
		  </div>
		  <ul class="list-group">  
		  	<!-- Quest Post -->
            {% if allreviews %}
            {% for review in  allreviews %}
				<li class="list-group-item">
				<div class="row clearfix">
				    <div class="col-sm-2">
                    <a href="/quest/{{review.quest_id}}">
					    <div  class="ratio img-responsive img-circle post-image" style="background-image: url({{review.quest_id.item_images}});"></div>
                    </a>
				    </div><!-- ./column -->
				    <div class="col-sm-6">
				        <h6 class="list-group-item-heading postTitle"> {{review.title}} </h6>
                    <p class="list-group-item-text postDesc">
                    	{{review.description}}
                    </p>

                                <div class="smallInfo">
                                    <a href={% url 'getUserInfo' displayname=review.quest.questrs.displayname %}><small class="light-grey"><span class="glyphicon glyphicon-user"></span>{{review.quest.questrs.displayname}} &nbsp;&nbsp;</a>
                    	<span class="glyphicon glyphicon-map-marker"></span>Only city+cuntry here</small>
                                </div><!-- ./smallInfo -->
				    </div><!-- ./column -->
				    <div class="col-md-2 column">
                    	<p><span class="money">$10</span><span class="postDate">
				    </div><!-- ./column -->
				    <div class="col-md-2 column">
					    <input id="input-21e" value="{{review.final_rating}}" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" data-readonly="true" data-show-clear="false" ></span>
				    </div><!-- ./column -->
				</div><!-- ./row -->
				</li><!-- list-group-item -->
            {% endfor %}
            {% endif %}
                <li class="list-group-item">
                <div class="row clearfix">
                    <div class="col-sm-2">
                    <a href="/quest/{{review.quest_id}}">
                        <div  class="ratio img-responsive img-circle post-image" style="background-image: url({{review.quest_id.item_images}});"></div>
                    </a>
                    </div><!-- ./column -->
                    <div class="col-sm-6">
                        <h6 class="list-group-item-heading postTitle"> {{review.title}} </h6>
                    <p class="list-group-item-text postDesc">
                        {{review.description}}
                    </p>

                                <div class="smallInfo">
                                    <a href="#"><small class="light-grey"><span class="glyphicon glyphicon-user"></span>{{review.quest.questrs.displayname}} &nbsp;&nbsp;</a>
                        <span class="glyphicon glyphicon-map-marker"></span>Only city+cuntry here</small>
                                </div><!-- ./smallInfo -->
                    </div><!-- ./column -->
                    <div class="col-md-2 column">
                        <p><span class="money">$10</span><span class="postDate">
                    </div><!-- ./column -->
                    <div class="col-md-2 column">
                        <input id="input-21e" value="{{review.final_rating}}" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" data-readonly="true" data-show-clear="false" ></span>
                    </div><!-- ./column -->
                </div><!-- ./row -->
                </li><!-- list-group-item -->
                </ul>
			</div>
			</div>
		  	           
    </div>  <!-- End of row -->
</div>  <!-- End of container -->





{% endblock content %}
{% block scripts %}
<script>
	 $('.postDesc').ellipsis({maxLine: 3, fixedWidth: 150})   
	  
	  jQuery(document).ready(function () {
        $(".rating-kv").rating();
    });
</script>


{% endblock scripts %}