{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
<link href={% static "css/sign.css" %} rel="stylesheet">
  
<script src={% static "js/validator.js" %}></script>
{% endblock localhead %}
{% block content %}


<div class="container-fluid" id="reset-pass">
    <div class="row clearfix">
        <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 column">
        	<div class="panel panel-default">
	        	<div class="panel-heading">
		        	<center><div class="panel-title lead">Resetting Password</div></center>
		        </div>
          <div class="panel-body">
          <div class="col-md-12 column">
				{{message}}
            <form class="form-horizontal" data-toggle="validator" role="form" action="" method="post"> {% csrf_token %}
              <fieldset>
              <div class="form-group">
                <label for="inputEmail" class="control-label light-grey">Enter your email to reset your password.</label>
                    <input type="email" class="form-control input-sm" name="email" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary btn-md">Reset</button>
                </div>
              </div>
            </fieldset>
            </form> 
          </div><!-- ./column -->   		    		
          </div><!-- ./panel-body -->
        	</div><!-- ./panel --> 
        </div><!-- ./column -->
    </div><!-- ./row -->
</div><!-- ./container -->




{% endblock content %}
{% block scripts %}
{% endblock scripts %}