{% extends "mainbase.html" %}
{% load staticfiles %}
{% load active %}
{% block localhead %}
    <!-- Custom CSS -->
    <link href={% static "css/settings.css" %} rel="stylesheet">
    <link href={% static "css/social-buttons.css" %} rel="stylesheet">

    <!-- Custom Javascript -->
    <script src={% static "js/validator.js" %}></script>
{% endblock localhead %}
{% block content %}
{% block nav-sidebar %}
    <div class="container">
    <div class="row clearfix">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 column">
        <nav class="nav-sidebar well body-borders shadows">
            <ul class="nav tabs">
              <li class="{% navactive request 'settings' %}"><a href="{% url 'settings' %}">Account<span class="glyphicon glyphicon-chevron-right"></span></a></li>
              <li class="{% navactive request 'changepassword' %}"><a href="{% url 'changepassword' %}">Password<span class="glyphicon glyphicon-chevron-right"></span></a></li>
              <li class="{% navactive request 'emailsettings' %}"><a href="{% url 'emailsettings' %}">Email Notifications<span class="glyphicon glyphicon-chevron-right"></span></a></li>                               
              <li class="{% navactive request 'cardsettings' %}"><a href="{% url 'cardsettings' %}"><span class="glyphicon glyphicon-credit-card"></span> Credit Card<span class="glyphicon glyphicon-chevron-right"></span></a></li>                              
            </ul>
        </nav>
      </div>  
{% endblock nav-sidebar %}
<!-- tab content -->
<div class="tab-content">
{% block tabcontent %}
{% endblock tabcontent %}
</div>
    </div><!-- ./row -->
 {% endblock content %}   
</div><!-- ./container -->

{% block scripts %}
<script>
	$("select").selectpicker({style: 'btn-sm btn-grad btn-info', menuStyle: 'dropdown-menu'});

// style: select toggle class name (which is .btn)
// menuStyle: dropdown class name

// You can always select by any other attribute, not just tag name.
// Also you can leave selectpicker arguments blank to apply defaults.
</script>
{% endblock scripts %}