{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <!-- Custom CSS -->
    <link href={% static "css/settings.css" %} rel="stylesheet">

    <!-- Custom Javascript -->
    <script src={% static "js/validator.js" %}></script>
{% endblock localhead %}
{% block content %}
{% block nav-sidebar %}
    <div class="container">
    <div class="row clearfix">
    
  <div class="col-sm-3 col-md-3 col-lg-3 column">
        <nav class="nav-sidebar">
            <ul class="nav tabs well body-borders shadows">
            {% if settingstype ==  "general" %}
              <li class="active"><a href="/user/settings"><p>Account</p></a></li>
            {% else %}
              <li class=""><a href="/user/settings">Account</a></li>
            {% endif %}
            
            {% if settingstype == "password" %}
              <li class="active"><a href="/user/settings/password">Password</a></li>
            {% else %}
              <li class=""><a href="/user/settings/password">Password</a></li>
            {% endif %}
            
            {% if settingstype == "email" %}
              <li class="active"><a href="/user/settings/email">Email Notifications</a></li>               
            {% else %}
              <li class=""><a href="/user/settings/email">Email Notifications</a></li> 
            {% endif %}
            
            {% if settingstype == "card" %}
              <li class="active"><a href="/user/settings/card">Credit Card</a></li>                               
            {% else %}
              <li class=""><a href="/user/settings/card">Credit Card</a></li>                               
            {% endif %}
            </ul>
        </nav>
      </div>  
{% endblock nav-sidebar %}
<!-- tab content -->
<div class="tab-content">
{% block tabcontent %}
{% endblock tabcontent %}
</div>
    </div>
    
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}