{% extends "mainbase.html" %}
{% load staticfiles %}
{% load active %}
{% block localhead %}
    <!-- Custom CSS -->
    <link href={% static "css/settings.css" %} rel="stylesheet">
    <link href={% static "css/intlTelInput.css" %} rel="stylesheet">

    <!-- Custom Javascript -->
    <script src={% static "js/angular.min.js" %}></script>
{% endblock localhead %}
{% block content %}
{% block nav-sidebar %}
    <div class="container-fluid">
    <div class="row clearfix">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 column">
        <nav class="nav-sidebar well">
            <ul class="nav tabs">
              <li class="{% navactive request 'settings' %}"><a href="{% url 'settings' %}"><strong>ACCOUNT</strong><span class="glyphicon glyphicon-chevron-right"></span></a></li>
              <li class="{% navactive request 'changepassword' %}"><a href="{% url 'changepassword' %}"><strong>PASSWORD</strong><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
        </nav>
      </div>  
{% endblock nav-sidebar %}
<!-- tab content -->
<div class="tab-content">
{% block tabcontent %}
{% endblock tabcontent %}
</div>
    </div><!-- ./row -->
   
</div><!-- ./container -->
{% endblock content %} 


{% block scripts %}
<script src={% static "js/intlTelInput.min.js" %}></script>
<script src={% static "js/utils.js" %}></script>

<script>
  $("#mobile-number").intlTelInput({
        autoFormat: true,
        //autoHideDialCode: false,
        defaultCountry: "ca",
        nationalMode: true,
        //numberType: "MOBILE",
        onlyCountries: ['ca'],
        //preferredCountries: ['ca'],
        responsiveDropdown: true
      });

    $( "#mobile-number" ).focusout(function() {
    var cleanNumber = $("#mobile-number").intlTelInput("getCleanNumber");
    document.getElementById('mobile-number').value = cleanNumber;
    document.getElementById('phone').value = cleanNumber;
});
</script>
{% endblock scripts %}