{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <!-- CSS -->
    <link href={% static "css/social-buttons.css" %} rel="stylesheet">
    <link href={% static "css/sign.css" %} rel="stylesheet">

{% endblock localhead %}
{% block content %} 


<div class="container" ng-app="validationApp" ng-controller="mainController">

			
    <div class="row clearfix">
    	<div class="col-md-6 column"></div>



	    <div class="col-md-6 column">
		    <div class="panel panel-default col-md-8 column grey-bg">
			    <div class="panel-heading text-center" style="background:transparent;">
				    <div class="panel-title lead">Sign in</div>
		        </div>
			    
			    <div class="panel-body">
			    	<div class="col-md-12 column">
				   
				    	<form action="{%url 'signin'%}" method="post" name="userForm" ng-submit="submitForm()" novalidate>{% csrf_token %}
                        <!-- Login with Username and Password --> 
                        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                            <input type="email" name="username" class="form-control" ng-model="user.email" placeholder="Email Address">
                            <p> 
                            {% if auth_form.username.errors %}
                            	{{ auth_form.username.errors }}
                            {% endif %}
                            </p>
                
                            <div class="help-block with-errors"></div>
                            <input type="password" class="form-control input-sm" name="password" id="exampleInputPassword1" placeholder="Password">
                            <p> 
            	            {% if auth_form.password.errors %}
            	            {{ auth_form.password.errors }}
            	            {% endif %}
            	            {% if auth_form.errors %}
            	                {{ auth_form.non_field_errors }}
            	            {% endif %}
                            </p>
                            
                            <a href="{% url 'reset_password' %}"><small>Forgot password?</small></a>
                        
                            <center><button type="submit" class="btn btn-sm btn-embossed btn-info">Sign in</button></center>
                        </div> <!-- ./form-group -->
				    	</form>
{% comment %}
				    	<center>
					    	<h6>Sign in with</h6>
		                    <a href="{% url 'social:begin' 'facebook' %}"><button class="btn btn-facebook"><i class="fa fa-facebook"></i></button></a>
		                    <a href="{% url 'social:begin' 'twitter' %}"><button class="btn btn-twitter"><i class="fa fa-twitter"></i></button></a>
			                
			                
			                ## This is for google plus based authentication ##
			                    {% if plus_id %}
			                    <form id="google-plus" method="post" action="{% url 'social:complete' 'google-plus' %}">{% csrf_token %}
			                      <input id="at" type="hidden" name="access_token" value="" />
			                      <input id="code" type="hidden" name="code" value="" />
			        
			                      <div id="signinButton">
			                        <span class="g-signin" data-scope="{{ plus_scope }}"
			                                               data-clientid="{{ plus_id }}"
			                                               data-redirecturi="postmessage"
			                                               data-accesstype="offline"
			                                               data-cookiepolicy="single_host_origin"
			                                               data-callback="signInCallback">
			                        </span>
			                      </div>
			                    </form>
			                    {% endif %}
			                
			                
			                <a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-google-plus"><i class="fa fa-google-plus"></i></button></a> 
		            	</center>
{% endcomment %}
					</div><!-- ./column -->
			    </div><!-- ./panel-body -->	  
		    </div><!-- ./panel-default -->
	    </div><!-- ./column -->    
    </div><!-- ./row -->  
</div><!-- ./container -->  

           


{% endblock %}
{% block scripts %}
{% endblock scripts %}