{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <!-- Custom CSS -->
    <link href={% static "css/smallpost.css" %} rel="stylesheet">
    <link href={% static "css/profile.css" %} rel="stylesheet">
    <link href={% static "css/trades.css" %} rel="stylesheet">
    
    <!-- Custom Javascript -->
    <script src={% static "js/validator.js" %}></script>
{% endblock localhead %}
{% block content %}
<div class="container">
    <div class="row">
       <div class="col-md-8 col-md-offset-2 column"> 
          
          <div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
			  <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="{% url 'mytrades' %}">My Offers</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'myposts' %}">My Posts</a>
                    </li>                   
                </ul>
		  </div>
		
		  <div class="list-group">   
                    {% for quest,shippers in shipperlist.items %}
                    
                    <!-- Quest Post -->
                            <a href="/quest/{{quest.id}}" class="list-group-item">
                                <div class="media col-md-2">
                                    <div class="ratio img-responsive img-circle" style="background-image: url({{user.avatar_file_name}});"></div>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="list-group-item-heading"> {{quest.title| title}} </h6>
                                    
                                    <p class="list-group-item-text"> 
                                    	{% for shipper in shippers %}
                                                    {{shipper.0.displayname}}, 
                                                {% endfor %} has shown interest!
                                    </p>
                                    <small><span class="glyphicon glyphicon-time"></span> time and date</small>
                                </div>
                                <div class="col-md-4">         
                                	<div class="col-md-6">
                                		<button onclick="change()" value="Accept" class="btn btn-embossed btn-primary" id="acceptBtn" rel="tooltip" title="We'll notify the user that you're ready to deliver!">Accept</button>
                                	</div>
                                	<div class="col-md-6">
                                		<button type="button" class="btn btn-embossed btn-primary contact" data-toggle="modal" data-target="#myModal">Contact</button>
                                	</div>
                                </div>
                               
                            </a>  <!-- End of Quest Post -->
                    
                    
                    
                 
                    {% comment %}
         
                            <a href="/quest/{{quest.id}}" class="list-group-item">
                                <div class="media col-md-2">
                                    <div class="ratio img-responsive img-circle" style="background-image: url({{user.avatar_file_name}});"></div>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="list-group-item-heading postTitle"> {{quest.title| title}} </h6>
                                    Following shippers have shown interest:
                                    <p class="list-group-item-text postDesc"> 
                                                {% for shipper in shippers %}
                                                    {{shipper.0.displayname}}, 
                                                {% endfor %}
                                    </p>
                                </div>
                                <div class="col-md-4">         
                                	<div class="col-md-6">
                                		<button onclick="change()" value="Accept" class="btn btn-embossed btn-primary" id="acceptBtn" rel="tooltip" title="We'll notify the user that you're ready to deliver!">Accept</button>
                                	</div>
                                	<div class="col-md-6">
                                		<button type="button" class="btn btn-embossed btn-primary contact" data-toggle="modal" data-target="#myModal">Contact</button>
                                	</div>
                                </div>
                               
                            </a>  <!-- End of Quest Post -->
                               {% endcomment %}
                            
                   
             {% endfor %}
                        
        </div>	<!-- End of list-group -->
       
	    </div>    
        </div>


<!-- Modal -->
<div class="container">
	<div class="row">
		<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content col-md-6 col-md-offset-3 column">
	            <div class="well profile">
             
              <div class="ratio img-responsive img-circle" style="background-image: url({{user.avatar_file_name}});"></div>
                    
            <center>
	            <h3>{{user.first_name}} {{user.last_name}}</h3>  
	                        
				
				 <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
				
			</center>
            
            		<p><strong>Location: </strong> Toronto, Ontario, Canada </p>
             		<p><strong><span class="glyphicon glyphicon-earphone"></span></strong> Phone number goes here </p>
                    <p><strong>Quests Completed: </strong> {{quests_complete}} </p>
                    <p><strong>Quests Posted: </strong> {{questes_posted}} </p>  
                    <p><strong>Trust Rank: </strong> {{ranking}}%</p>                           
         </div>	<!-- End of Profile -->
            	
                
                
                <div class="modal-footer">
                    <div class="btn-group">
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                </div>
 
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
</div><!-- /.modal -->
	</div>
</div><!-- ./container -->
{% endblock content %}    
{% block scripts %}    

<script>
	$( document ).ready(function() {
    $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    ); 
});
</script>

<script>
	function change()
	{
		var elem = document.getElementById("acceptBtn");
		
		elem.value = "Review";
		elem.title = "Leave a review to tell others how it went!";
		elem.src = "#";
	}	
</script>

 
{% endblock scripts %}  