.profile 
{
    display: inline-block;
    }
    
.profile .displayName {
	font-size: large;
	display: inline-block;
	width: 100%;
}

    
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }

span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

      
    
    
a.list-group-item {
	height:auto;
	min-height: 120px;
}

a.list-group-item.active small {
    color:#fff;
}

.stars {
    margin:20px auto 1px;    
}


/*************** Questr Module ******************/
.postPic {
	width: 100px;
	height: 100px;
}

.postTitle {
	
}

.postDesc {
	
}

