    
a.list-group-item {
	height:auto;
	min-height: 120px;
}

a.list-group-item {
    background:#fff;
}

a.list-group-item:hover {
	background: rgba(255,255,248,0.55);
}


/*************** Questr Module ******************/
.postPic {
	width: 90px;
	height: 90px;
}

.postTitle {
	
}

.postDesc {
	
}
