{% extends "landingbase.html" %}
{% load staticfiles %}
{% block localhead %}
  <link href={% static "css/static.css" %} rel="stylesheet"> 
	<script src={% static "assets/js/pace.js" %}></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	
	<script src={% static "bootstrap/js/tooltip.js" %} type="text/javascript"></script>
{% endblock localhead %}

{% block content %}
<div class="banner">
  <div class="banner title">
    <h1>About Questr</h1>
  </div>
</div>    

<div class="container mtb">
  <div class="row">
  	<p>
  	<b>Our story</b>
  	<br>
	It all starts with many times of frustration. Not knowing when couriers will come, not knowing when they will come next time, you keep missing them, and you end up having to go to the sorting facility yourself. It is a hassle measuring your boxes, height, width, length, weight, container. It should be simpler than that. That’s why we built Questr, to alleviate the frustration and to simplify the process. 
	<br>
	<br>
	<b>What we do</b>
	<br>
	<i>What we do for people</i>
	<br>
	We provide crowdsourced rush delivery for the Greater Toronto Area. What usually is delivered overnight can now be delivered within an hour. Questr does not collect your packages and throw them in a warehouse and then dump them into a truck. What a waste of time. Our couriers picks up your packages and start driving to destination right away. When the packages are taking a private trip, you can also locate them anytime you want in real time. 
	<br>
	<br>
	<i>What we do for businesses</i>
	<br>
	Your business is growing. More people are purchasing on your e-commerce site. What are you selling though? Do you sell things that people want to try out really soon? Who wouldn’t like to have their orders delivered as soon as possible?  Questr helps you build an on-demand, elite-of-the-industry image by integrating our shipping option to your store. And you will never need to sign a contract with us, we always offer you the best price for your need.
	<br>
	<br>
	<i>What we do for the society</i>
	<br>
	We mentioned we are crowdsourced. What does that mean? That means your packages are delivered by people who are in need. A student eager to pay off their debts, a disabled who works hard to provide for themselves, and more. Every honest person deserves to achieve self-realization and Questr is proud to be a part of it. 
	<br>
	<br>
	<b>What we believe </b>
	<br>
	<i>Grow with your customer</i>
	<br>
	Company isn’t always about profit, and a premium service doesn’t have to come with a premium price tag. We are here because we strive to provide a better service everyone in the 21st century deserves, and it is in Questr’s interest to see more successful businesses because, after all, we are customers ourselves and we would love to see a more commercially abundant society. 
	<br>
	<br>
	<i>Efficiency is everything</i>
	<br>
	We’ve heard so much about our precious time. Life is short, time is money, etc. Corporations keep things the way it is to keep a profitable margin, Questr boosts efficiency to prove that efficiency not only can be done, but also a necessity. Customers need to get their things faster to make their lives better, businesses need to ship their things faster to focus on more important things. Odds and ends like shipping? Leave it to us, that’s what Questr does.
	<br>
	</p>


 </div><! --/row -->
</div><! --/container -->



{% endblock content %}

{% block scripts %}
<script src={% static "assets/js/jquery.js" %}></script>
<script src={% static "assets/js/bootstrap.js" %}></script>
<script src={% static "assets/js/easing.js" %}></script>

 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });

  var img = '<img src="{% static "img/contacts/wechat.jpeg" %}"/>';
  
  $(".popover-right").popover({
			placement: 'right', 
      title: 'Add Questr or scan the QR code below', 
      content: img, 
      html:true 
		});

</script>

    
{% endblock scripts %}
