{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <link href={% static "css/theme.css" %} rel="stylesheet">
     <link href={% static "css/browse.css" %} rel="stylesheet">
     <link href={% static "css/smallpost.css" %} rel="stylesheet">
     <link href={% static "css/bootstrap-ellipsis.css" %} rel="stylesheet">
{% endblock localhead %}
{% block content %}
    
    <div class="container">
        <div class="row">
        
            <div class="col-md-2">
            <nav class="nav-sidebar well">
                
                <div class="btn-group">
                    <h5>Search In</h5>
                             
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        City
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>           
                 </div>
                             
                
                 <div class="btn-group">
                    <h5>Need Item By</h5>
                             
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Day
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                 </div>
                 
                 <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Month
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>               
                 </div>
                    
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Year
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                    
                 </div>
                 
                 
                 <div class="btn-group">
                    <h5>Fits in</h5>
                             
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Backpack
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Backpack</a></li>
                      <li><a href="#">Car</a></li>
                      <li><a href="#">Minivan</a></li>                 
                    </ul>           
                 </div>
                 
                                
                <div class="input-group input-group-sm offer">
                    <h5>Offer</h5>                
                    <div class="col-md-6">
                        <input type="text" class="form-control textInput" placeholder="min">
                    </div>                  
                    <div class="col-md-6">
                        <input type="text" class="form-control textInput" placeholder="max">
                    </div>
                </div>
                 
                 <div class="btn-group">
                     <button type="button" class="btn btn-default">Search</button>
                 </div>
                                
            </nav>
                            
        </div>  <!-- End of col -->
      
         
        
       
    <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="well">
             
        
        <div class="list-group">
          
          <!-- Quest Post -->
          <a href="#" class="list-group-item">
                <div class="media col-md-2">
                    <figure>
                        <center><img alt="item" src="http://i.dailymail.co.uk/i/pix/2013/06/04/article-2335636-1A2573D5000005DC-340_964x611.jpg" class="postPic" /></center>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading postTitle"> Item </h4>
                    <p class="list-group-item-text postDesc"> Im looking for this thingIm looking for this thingIm looking for this thingIm looking for this thingIm looking for this thingIm looking for this thingIm looking for this thing                         
                    </p>
                </div>
                <div class="col-md-4">
                    <p><span class="money">$10</span><span class="postDate">June 20, 2014</span></p>
                </div>
               
          </a>  <!-- End of Quest Post -->  
         
          <!-- Quest Post -->
          <a href="#" class="list-group-item">
                <div class="media col-md-2">
                    <figure>
                        <center><img alt="item" src="http://img004.lazygirls.info/people/amber_montana/amber_montana_instagram_selfie_6p3qzqIw.sized.jpg" class="postPic"/></center>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading postTitle"> Item </h4>
                    <p class="list-group-item-text postDesc"> Im looking for this thingIm looking for this thingIm looking for this thingIm looking for this thingIm looking for this thingIm looking for this thingIm looking for this thing                         
                    </p>
                </div>
                <div class="col-md-4">
                    <p><span class="money">$10</span><span class="postDate">June 20, 2014</span></p>
                </div>              
          </a>  <!-- End of Quest Post -->      
 
        </div>
        </div>
    </div>
</div>                        
        </div>  <!-- End of column -->         
    
    
    
    
    <div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
        <center>
            <ul class="pagination">
                <li class="disabled">
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="./browsePages/2.html">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </center>
        </div>
    </div>
</div>
    
{% endblock content %}
{% block scripts %}
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script>
            $('.postDesc').ellipsis({maxLine: 3, fixedWidth: 200})
            $('.signup').validator('validate')
            $('.signin').validator('validate')    
        </script>
{% endblock scripts %}