{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
  <link href={% static "css/static.css" %} rel="stylesheet"> 
	<script src={% static "assets/js/pace.js" %}></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	
	<script src={% static "bootstrap/js/tooltip.js" %} type="text/javascript"></script>
{% endblock localhead %}

{% block content %}
<div class="banner">
  <div class="banner title">
    <h1>Contact Questr</h1>
    <h2>“Life's most urgent question is: What is Questr doing for others?” - Martin Luther King, Jr.</h2>
  </div>
</div>    

<div class="container mtb" style="height:55%;">
  <div class="row">
    <br><br><br><br>
    <section class="col-md-8 col-md-offset-2" style="%background-color:red; padding:8%; padding-top:0px;">
      <form action="/beta/contactus" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_top" role="form" novalidate style="*background-color:blue; text-align:center;">{% csrf_token %}
        <div class="form-group" style="*background-color:green; width:100%;">
          <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Name" style="*background-color:yellow; width:100%;">
          <p></p>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          <p></p>
          <textarea name="message" class="form-control" rows="3" placeholder="Message" style="min-height:200px;"></textarea>
        </div>
        <p></p>
        <button type="submit" class="btn btn-embossed btn-default" style="background-color:#ff0042;">Send</button>
      </form>
    </section><!-- /section planpricing -->

    <div class="col-md-8 col-md-offset-2" style="%background-color:red; padding:8%; text-align-center;">
            <hr>
    </div>

    <div class="col-md-8 col-md-offset-2" style="%background-color:red; padding:8%; padding-top:0px; text-align:center;">


      <h4>...or find us on a social network</h4>
      <div class="hline"></div>
        <p>
          <a class="facebook" target="_blank" href="https://www.facebook.com/questrco"><button class="btn-circle-md"><i class="fa fa-facebook"></i></button></a>
          <a class="twitter" target="_blank" href="https://twitter.com/questrco"><button class="btn-circle-md"><i class="fa fa-twitter"></i></button></a>
        </p>
        <p>
          <a class="linkedin" target="_blank" href="http://linkedin.com/company/questr"><button class="btn-circle-md"><i class="fa fa-linkedin"></i></button></a>
          <a class="tumblr" target="_blank" href="http://questrco.tumblr.com"><button class="btn-circle-md"><i class="fa fa-tumblr"></i></button></a>
        </p>
        <p>
          <a class="wechat popover-right" data-container="body" data-toggle="popover" data-placement="right"><button type="button" class="btn btn-circle-md"><i class="fa fa-wechat"></i></button></a>
        </p>
        <br>
    </div>

 </div><! --/row -->
</div><! --/container -->

<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

{% endblock content %}

{% block scripts %}
<script src={% static "assets/js/jquery.js" %}></script>
<script src={% static "assets/js/bootstrap.js" %}></script>
<script src={% static "assets/js/easing.js" %}></script>

 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });

  var img = '<img src="{% static "img/contacts/wechat.jpeg" %}"/>';
  
  $(".popover-right").popover({
			placement: 'right', 
      title: 'Add Questr or scan the QR code below', 
      content: img, 
      html:true 
		});

</script>

    
{% endblock scripts %}
