{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
  <link href={% static "css/static.css" %} rel="stylesheet"> 
	<script src={% static "assets/js/pace.js" %}></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
{% endblock localhead %}

{% block content %}
<div class="banner">
  <h1>Contact Questr</h1>
  <h2>Let us help you in whichever way you want!</h2>
</div>    

<div class="container mtb">
  <div class="row">

    <div class="col-lg-4">
      <h4>Message us on a social network</h4>
      <div class="hline"></div>
        <p><a class="facebook" target="_blank" href="https://www.facebook.com/questrco"><button class="btn-circle-md"><i class="fa fa-facebook"></i></button>Facebook</a></p> 
        <p><a class="twitter" target="_blank" href="https://twitter.com/questrco"><button class="btn-circle-md"><i class="fa fa-twitter"></i></button>Twitter</a></p>
        <p><a class="linkedin" target="_blank" href="http://linkedin.com/company/questr"><button class="btn-circle-md"><i class="fa fa-linkedin"></i></button>LinkedIn</a></p>
        <p><a class="tumblr" target="_blank" href="http://questrco.tumblr.com"><button class="btn-circle-md"><i class="fa fa-tumblr"></i></button>Tumblr</a></p>
        <p><a class="wechat" href="http://questrco.tumblr.com"><button class="btn-circle-md"><i class="fa fa-wechat"></i></button>WeChat</a></p>
        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on right</button>      
        <br>
    </div>

    <div class="col-lg-4">
      <h4>Email us right here</h4>
      <div class="hline"></div>
      <p></p>
      <form action="/beta/contactus" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_top" role="form" novalidate>{% csrf_token %}
        <div class="form-group">
          <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Your name">
          <p></p>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Your email address">
          <p></p>
          <textarea name="message" class="form-control" rows="3" placeholder="Your message"></textarea>
        </div>
        <p></p>
        <button type="submit" class="btn btn-embossed btn-default">Send</button>
      </form>
    </div>
  </div><! --/row -->
</div><! --/container -->

	

{% endblock content %}

{% block scripts %}
<script src={% static "assets/js/jquery.js" %}></script>
<script src={% static "assets/js/bootstrap.js" %}></script>
<script src={% static "assets/js/easing.js" %}></script>

 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });
</script>
    
{% endblock scripts %}
