{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
  <link href={% static "css/static.css" %} rel="stylesheet"> 
	<script src={% static "js/pace.js" %}></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	
	<script src={% static "bootstrap/js/tooltip.js" %} type="text/javascript"></script>
{% endblock localhead %}

{% block content %}
<div class="banner">
  <div class="banner title">
    <h1>Frequently Asked Questions</h1>
  </div>
</div>    

<div class="container mtb">
  <div class="row">
    <br><br><br><br>
    <section class="col-md-8 col-md-offset-2" style="padding:8%; padding-top:0px;">
    	<div class="panel-group" id="accordion">
			<div class="panel panel-default" id="panel1">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapseOne" data-parent="#accordion">
						What is Questr?
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse collapse">
					<div class="panel-body">
						<h6>
							Questr is a crowdshipping - or a peer-to-peer shipping - company. Essentially it is a courier company, but with a different mindset from that of traditional courier companies.
						</h6>
					</div>
				</div>
			</div>
			<div class="panel panel-default" id="panel2">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapseTwo" data-parent="#accordion">
						How is Questr different from other courier services?
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							Unlike traditional courier companies like Canada Post or UPS or FedEx, Questr's shippers get packages and deliver them to the destination directly without the hassle of going to local facilities, saving much time and labour that leads to a higher shipping cost, by breaking down the centralized logistics and letting the crowd deliver the packages.  
						</h6>
					</div>
				</div>
			</div>
			<div class="panel panel-default" id="panel3">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapseThree" data-parent="#accordion">
						Is Questr safe?
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							Safety is Questr's top priority. By utilizing a multitude of security measures, Questr is guaranteed to be not only just as safe, but also even more trackable and traceable.
						</h6>
					</div>
				</div>
			</div>
			<div class="panel panel-default" id="panel3.1">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapseThree1" data-parent="#accordion">
						How does Questr verify its shippers?
						</a>
					</h4>
				</div>
				<div id="collapseThree1" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							Questr verifies its shippers in a number of ways, including credit card binding, driver's license binding, cell phone verification, etc. 
						</h6>
					</div>
				</div>
			</div>
			<div class="panel panel-default" id="panel4">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapseFour" data-parent="#accordion">
						How fast does Questr delivery its packages?
						</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							Once a shipper picks up a package, s/he does not need to go to a local sorting facilities but driving directly from the pickup locaiton to dropoff location. A package from Scarborough Town Centre to Square One Mall may only take fourty-five minutes if the traffic is reasonably good.
						</h6>
					</div>
				</div>
			</div>
			<div class="panel panel-default" id="panel5">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapseFive" data-parent="#accordion">
						How much does a Questr shipment cost?
						</a>
					</h4>
				</div>
				<div id="collapseFive" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							Questr offers three types of size options: backpack, car, and minivan, and they cost from $6 to $16 plus per-km fees. 
							<br>
							At night or during weekends, shipping reates are slightly more expensive.
						</h6>
					</div>
				</div>
			</div>	
			<div class="panel panel-default" id="panel5.1">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapseFive1" data-parent="#accordion">
						Backpack, car, minivan, what's the difference?
						</a>
					</h4>
				</div>
				<div id="collapseFive1" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							A backpack package can be a pile of documents or a takeout order. Each costs $6 + $1.7/km.
							<br>
							A car package can be 4-6 moving boxes, or anything that can fit in a normal car. Each costs $6 + $2/km.
							<br>
							A minivan package can be requested for moving purposes. Each costs $16 + $3.4/km.
						</h6>
					</div>
				</div>
			</div>		
			<div class="panel panel-default" id="panel6">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse6" data-parent="#accordion">
						Where is Questr currently available?
						</a>
					</h4>
				</div>
				<div id="collapse6" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							Starting from July 28th, 2014, Questr is first available in Greater Toronto Area. 
						</h6>
					</div>
				</div>
			</div>	
			<div class="panel panel-default" id="panel7">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse7" data-parent="#accordion">
						How do I become a shipper?
						</a>
					</h4>
				</div>
				<div id="collapse7" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							Go to <a href="{% url 'contact' %}">Contact Us</a> and let us know you are interested. We will get back to you within 8 hours.
						</h6>
					</div>
				</div>
			</div>	
			<div class="panel panel-default" id="panel8">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse8" data-parent="#accordion">
						What kind of vehicle do I need in order to become a shipper?
						</a>
					</h4>
				</div>
				<div id="collapse8" class="panel-collapse collapse">
					<div class="panel-body">
						<h6>
							A bike, a scooter, a car, anything that can get you around the city quickly.
						</h6>
					</div>
				</div>
			</div>	



		</div>
    </section><!-- /section planpricing -->
 </div><! --/row -->
</div><! --/container -->


{% endblock content %}

{% block scripts %}

<script src={% static "js/easing.js" %}></script>

 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });

  var img = '<img src="{% static "img/contacts/wechat.jpeg" %}"/>';
  
  $(".popover-right").popover({
			placement: 'right', 
      title: 'Add Questr or scan the QR code below', 
      content: img, 
      html:true 
		});

</script>

    
{% endblock scripts %}
