<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Questr - Home</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap, JQuery, Awesome Fonts -->
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "bootstrap/css/bootstrap-responsive.min.css" %} rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <script src={% static "js/jquery-1.10.0.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <!-- Custom CSS -->
    <link href={% static "css/theme.css" %} rel="stylesheet">
    {% block localhead %}
    {% endblock localhead %}
</head>

<body id="start">
    <!-- This is the overlay DIV that is displayed while loading a new page -->

<!-- Main Navbar -->
    <div class="container navbar-container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                            <span class="sr-only">Togglenavigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button> <a class="navbar-brand nonProfile"
                        href=""><b>QUESTR</b></a>
                    </div>

                    <div class="collapse navbar-collapse" id=
                    "bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                        {% comment %}
                                <li class="active"><a href="#">Link</a></li>

                                <li><a href="#">Link</a></li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle=
                                    "dropdown" href="#">Dropdown</a>

                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>

                                        <li><a href="#">Another action</a></li>

                                        <li><a href="#">Something else
                                        here</a></li>

                                        <li><a href="#">Separated link</a></li>

                                        <li><a href="#">One more separated
                                        link</a></li>
                                    </ul>
                                </li>
                        {% endcomment %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-left" role="search">{% csrf_token %}
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button class="btn btn-default nonProfile" type="submit">Submit</button>
                            </form>
                        </li>
                        
                        
                        
                        
                            {% if pagetype == "loggedin" %}
                            
                            
                            
                            <li class="dropdown">
							 <a href="#" class="dropdown-toggle post" data-toggle="dropdown">
								 <span class="glyphicon glyphicon-plus-sign navbarIcons"></span>					 
							 </a>
							<ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Post a Quest</a>
                                    </li>           
                                    <li class="divider"> 
                                    </li>
                                    <li>
                                        <a href="#">Post Availability</a>
                                    </li>
                                </ul>
						</li>
      						
      						
                        
                        	<li><a class="nonProfile" href="/quests">Browse</a></li>
                        
                                                
                            <li class="dropdown">
							 <a href="#" class="dropdown-toggle userMenu" data-toggle="dropdown">
							 <span><img class="profileImg" src="{{user.avatar_file_name}}"/></span>{{user.first_name}} {{user.last_name}}<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
                                    <li>
                                        <a href="{{nav_link_1}}">                                                                        
                                            {{nav_link_1_label|title}}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{nav_link_2}}">{{nav_link_2_label|title}}</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="{{nav_link_3}}">{{nav_link_3_label|title}}</a>
                                    </li>
                                </ul>
						</li>
    
                            {% endif %}
                            
                            
                            

                            {% if pagetype == "public" %}
                                
                            <li><a href="{{nav_link_1}}">{{nav_link_1_label|title}}</a></li>

                            <li><a href="{{nav_link_2}}">{{nav_link_2_label|title}}</a></li>

                            <li><a href="{{nav_link_3}}">{{nav_link_3_label|title}}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div><!-- End of main navbar -->
        <!-- Secondary navbar:  holds search, Quests, and Questrs -->

{% if secondnav == "listquestsecondnav" %}
        <!-- Secondary navbar:  holds search, Quests, and Questrs -->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 column">
                <nav class="navbar navbar-default navbar-static-top secondary-nav">
                    <div class="navbar-header"></div>

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Quests</a></li>

                        <li><a href="#">Questrs</a></li>
                    </ul><br>
                </nav>
            </div>
        </div><!-- End of Secondary navbar -->
        {% endif %}
    </div><!-- End of navbar-container -->    


<div id="loader"></div>
{% block content %}    
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
</body>
</html>