{% load staticfiles %}
{% load active %}
<html lang="en">
	<head>

		<!-- Facebook OpenGraph -->
	    <meta property="og:title" content="Questr" />
	    <meta property="og:type" content="website" />
	    <meta property="og:url" content="http://www.questr.co" />
	    <meta property="og:image" content={% static "img/logo.png" %} />
	    <meta proptery="og:description" content="Questr, cheapest, fastest, 24/7 delivery within GTA." />
	    <meta content="text/html; charset=utf-8" http-equiv="content-type">
	    <meta charset="utf-8">
	    <meta content="width=device-width, initial-scale=1.0" name="viewport">

	    <title>Questr - {{pagetitle | title}}</title>
	    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

	    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
	
	    <link href={% static "css/theme.css" %} rel="stylesheet">
	    <link href={% static "css/normalize.css" %} rel="stylesheet"> 
	    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	  

	    {% block localhead %}
	    {% endblock localhead %}
	</head>

	<body id="start">
	    <!-- This is the overlay DIV that is displayed while loading a new page -->



	    {% if not pagetype %}
	    <nav class="navbar navbar-default fadeIn fadeIn-2s" role="navigation">
		
	  <div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
		  <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
		  <span class="icon-bar">
		  </span><span class="icon-bar"></span>
		  </button> 
		  <a class="navbar-brand" href="{% url 'index' %}" style="color:white;">Questr</a>
	  </div>
	    
	<div class="collapse navbar-collapse" id="navbar-collapse-01">
		
		  	<ul class="nav navbar-nav navbar-right"> 
	      
                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
       
<!--                <li><a href=""><span class="glyphicon glyphicon-user"></span>Signup</a></li> -->

                <li><a href="{% url 'faq' %}"><span class="glyphicon glyphicon-question-sign"></span>FAQ</a></li>
            </ul>
	    	    
		</div><!-- /.navbar-collapse -->

	</nav><!-- /navbar -->
	{% endif %}



	{% if pagetype == "loggedin" %}
	
	<nav class="navbar navbar-default" role="navigation">
		
	  <div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
		  <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
		  <span class="icon-bar">
		  </span><span class="icon-bar"></span>
		  </button> 
		  <a class="navbar-brand" href="{% url 'home' %}">Questr</a>
	  </div>
	    
	<div class="collapse navbar-collapse" id="navbar-collapse-01">
	
       
        	<ul class="nav navbar-nav navbar-left"> 
                <li class="{% navactive request 'home' %}"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li> 
                
                <li class="{% navactive request 'mytrades' %}"><a href="{% url 'mytrades' %}">My shipments</a></li>
            	{% comment %}
                <li><a href="/quest"><span class="glyphicon glyphicon-tree-deciduous"></span>Browse</a></li>                  
                
                <li class="dropdown" id="notifications">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="navbar-new">2</span></a>
                    <ul class="dropdown-menu">

                        <li>
                            <!-- Notification -->
                            <a href="#" class="list-group-item">
                        
                                <div class="media col-md-3 imgBox">
                                    <div class="ratio img-responsive" style="background-image: url(http://www.stars-arena.com/wp-content/uploads/2013/08/emma-watson-3.jpg);"></div>
                                </div>
                                <div class="col-md-9">
                                    <div class="smallInfo">
                                        <small class="light-grey">Emma Watson left you a comment: Hello World ;)</small>
                                    </div><!-- ./smallInfo -->
                            
                                
                                </div> 
                            </a>  <!-- End of notification -->
                        </li>
                    </ul>
                </li>
                            

            	<div id="navButton">
                    <div class="input-group">
                        
                        <span class="input-group-btn">
                        
                        	<a href="{{nav_link_1}}">	
                        	<button class="btn btn-default" type="button">	
                       			<div class="ratio img-responsive profileImg" style="background-image: url({{user.avatar_file_name}});"></div> 
                        	</button>
                   			</a>
                        
                         	<a href="#" class="dropdown-toggle userMenu" data-toggle="dropdown">
                            	<button class="btn btn-default combo" type="button">
                                	{{user.first_name}}<strong class="caret"></strong>
                                </button>
                         	</a>
				                                 	
                        </span>  
                    </div>
                </div>    				 
                </form>			 
                </li>          
   				{% endcomment %}	      
   			</ul>   
   
   
   			<form class="navbar-form navbar-left" role="search">{% csrf_token %}
						<div class="form-group no-margin">
							<input type="text" class="form-control search" />
						</div>
						<button type="submit" class="btn" id="search-btn"><i class="fa fa-search"></i></button>
					</form>
					
					
					
   	
	    
		    <ul class="nav navbar-nav navbar-right">
		    	{% comment %}
		    	<li class="dropdown">
		    		<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span><span class="navbar-new">2</span></a>
		    		<ul class="dropdown-menu">
			    		<li>
				    		<a>
					    		<div class="row clearfix">
					    			<div class="col-md-4 column">
						    			<div class="ratio img-responsive img-circle" style="background-image: url({{user.avatar_file_name}});"></div>
					    			</div>
					    			<div class="col-md-8 column">You got a notification!</div>
					    		</div>
				    		</a>
			    		</li>
	                </ul>
	            </li>
	            {% endcomment %}
	            
	            
	            <li class="dropdown">
		              <a href="#" class="dropdown-toggle no-margin no-padding" data-toggle="dropdown">
		              	{% comment %}
			              <span class="no-margin no-padding" style="min-height:30px;max-height:30px;min-width:30px;max-width:30px;display:inline-block;">
				              <span class="ratio img-responsive img-circle profileImg" style="background-image: url({{user.avatar_file_name}});"></span>
				          </span>
				          {% endcomment %}
				           {{user.first_name}} {{user.last_name}} <i class="fa fa-caret-down"></i>
		              </a>
		           
	       

					<ul class="dropdown-menu dropdown-menu-left">
						<li class="{% navactive request 'profile' %}">
							<a href="{% url 'profile' %}">
								
								My profile
							</a>
						</li>
	                    <li>
	                        <a href="{% url 'settings' %}">
	                        	
	                        	Settings
	                        </a>
	                    </li>
	                    </li>
	                    <li>
	                        <a href="{% url 'logout' %}">
	                        	<i class="fa fa-sign-out"></i>
	                        	Logout
	                        </a>
	                    </li>
	                </ul>
	        	</li>
	        	
	        	<li>
	        		<a href="{% url 'newquest' %}" class="btn btn-default" id="post-shipment">
		        		Post a shipment!
	        		</a>
	        	</li>
	        	
		    </ul>
		    
		</div><!-- /.navbar-collapse -->

	</nav><!-- /navbar -->
	{% endif %}
	 
	  
	  
	  
	  
	<div id="loader"></div>
	
	<div id="wrapper">
		{% block content %}    
		{% endblock content %}
	</div>

	<footer>
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 column" id="footer-column">
				
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
					<i class="copyright">Copyright © 2014 Questr Inc. All rights reserved.</i>
					<ul>
						<li>
					<a class="facebook" target="_blank" href="https://www.facebook.com/questrco"><button class="btn-circle"><i class="fa fa-facebook"></i></button></a>
						</li>
						<li>
					<a class="twitter" target="_blank" href="https://twitter.com/questrco"><button class="btn-circle"><i class="fa fa-twitter"></i></button></a>
						</li>
						<li>
					<a class="linkedin" target="_blank" href="http://linkedin.com/company/questr"><button class="btn-circle"><i class="fa fa-linkedin"></i></button></a>
						</li>
						<li>
					<a class="email" target="_blank" href="mailto:hello@questr.co"><button class="btn-circle"><i class="fa fa-envelope"></i></button></a>
						</li>
				</div><!-- ./column -->

				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
					<a href="{% url 'faq' %}">Frequently Asked Questions</a>
					<i>|</i>
					<a href="{% url 'contact' %}">Contact Us</a>
					<i>|</i>
					<a href="{% url 'terms' %}">Terms of Service</a>
					<i>|</i>
					<a href="{% url 'privacy' %}">Privacy Policy</a>
				</div><!-- ./column -->
	
			</div><!-- ./column -->
		</div><!-- ./row -->
	</footer>
	<!-- Google Analytics -->
	    <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-52727900-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<script type='text/javascript' src={% static "js/jquery.min.js" %}></script> 
		<script type='text/javascript' src={% static "js/input_validator.js" %}></script> 
		<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
	    <script src={% static "bootstrap/js/tooltip.js" %}></script>
	    <script src={% static "js/modernizr.js" %}></script>
	{% block scripts %}
	{% endblock scripts %}
	</body>	    
</html>