{% load staticfiles %}
{% load active %}
<html lang="en">
	<head>
		<!-- Facebook OpenGraph -->
	    <meta property="og:title" content="Questr" />
	    <meta property="og:type" content="website" />
	    <meta property="og:url" content="http://www.questr.co" />
	    <meta property="og:image" content={% static "img/logo.png" %} />
	    <meta proptery="og:description" content="Questr, cheapest, fastest, 24/7 delivery within GTA." />
	    <meta content="text/html; charset=utf-8" http-equiv="content-type">
	    <meta charset="utf-8">
	    <meta content="width=device-width, initial-scale=1.0" name="viewport">

	    <title>Questr - {{pagetitle}}</title>
	    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

	    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
	    <link href={% static "css/theme.css" %} rel="stylesheet">
	    <link href={% static "css/normalize.css" %} rel="stylesheet"> 
	    <link href={% static "css/font-awesome-4.2.0/css/font-awesome.min.css" %} rel="stylesheet">
	  

	    {% block localhead %}
	    {% endblock localhead %}
	</head>

	<body id="start">
	    <!-- This is the overlay DIV that is displayed while loading a new page -->


	    {% if not pagetype %}
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Questr</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
	
		       

		      </ul>
		      {% comment %}
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
		      </form>
		      {% endcomment %}
		      <ul class="nav navbar-nav navbar-right">
		        <li class="{% navactive request 'index' %}"><a href="{% url 'index' %}">Home</a></li>
		        <li class="{% navactive request 'faq' %}"><a href="{% url 'faq' %}">FAQ</a></li>
		        <li class="{% navactive request 'signup' %}"><a href="{% url 'signup' %}">Sign up</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>	
		{% if alert_message %}
			<!-- ALERT -->
			<div class="col-md-12 column">
			  <div class="alert alert-{{alert_message.type}} alert-dismissible" role="alert">
			    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			    <strong>{{alert_message.type | title}}!</strong> {{alert_message.message}}
			  </div>
			</div><!-- ./ALERT -->
		{% endif %}
	{% endif %}


	    {% if pagetype == "emailnotverified" %}
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Questr</a>
		    </div>

		      <ul class="nav navbar-nav navbar-right">
		        <li class="{% navactive request 'logout' %}"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-question-sign"></span> Logout</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		{% if alert_message %}
			      <!-- ALERT -->
			<div class="col-md-12 column">
			  <div class="alert alert-{{alert_message.type}} alert-dismissible" role="alert">
			    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			    <strong>{{alert_message.type | title}}!</strong> {{alert_message.message}}
			  </div>
			</div><!-- ./ALERT -->
		{% endif %}
	{% endif %}





	{% if pagetype == "loggedin" %}


	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Questr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

    <li class="{% navactive request 'home' %}"><a href="{% url 'home' %}">Home</a></li>        


    {% if user.is_shipper %}
      <li class="{% navactive request 'myshipments' %}"><a href="{% url 'myshipments' %}">My shipments</a></li>
      {% endif %}
      {% if not user.is_shipper %}
      <li class="{% navactive request 'myposts' %}"><a href="{% url 'myposts' %}">My Quests</a></li>
      {% endif %}
    
        
      </ul>
      {% comment %}
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      {% endcomment %}
      <ul class="nav navbar-nav navbar-right">

      	<li class="dropdown">
	          <a href="#" class="dropdown-toggle no-margin no-padding" data-toggle="dropdown">
	       		{% comment %}
	              <span class="no-margin no-padding" style="min-height:30px;max-height:30px;min-width:30px;max-width:30px;display:inline-block;">
		              <span class="ratio img-responsive img-circle profileImg" style="background-image: url({{user.avatar_file_name}});"></span>
		          </span>
		          {% endcomment %}
		         
		           {{user.first_name}} {{user.last_name}} <i class="fa fa-caret-down"></i>
	          </a>
	       


			<ul class="dropdown-menu dropdown-menu-right">
{% comment %}
				<li class="{% navactive request 'profile' %}">
					<a href="{% url 'profile' %}">
						
						My profile
					</a>
				</li>
{% endcomment %}
	            <li>
	                <a href="{% url 'settings' %}">
	                	
	                	Settings
	                </a>
	            </li>
	            </li>
	            <li>
	                <a href="{% url 'logout' %}">
	                	<i class="fa fa-sign-out"></i>
	                	Logout
	                </a>
	            </li>
	        </ul>
		</li>
	        	
    	<li class="{% navactive request 'newquest' %}">
    		<a href="{% url 'newquest' %}" class="btn post-quest">
        		Post a shipment!
    		</a>
    	</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% if alert_message %}
	      <!-- ALERT -->
	<div class="col-md-12 column">
	  <div class="alert alert-{{alert_message.type}} alert-dismissible" role="alert">
	    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <strong>{{alert_message.type | title}}!</strong> {{alert_message.message}}
	  </div>
	</div><!-- ./ALERT -->
{% endif %}
{% endif %}


	  
	  
	<div id="loader"></div>
	
	<div id="wrapper">
		{% block content %}    
		{% endblock content %}
	</div>

	<footer>
		<div class="row clearfix section">
			<div class="col-md-10 col-md-offset-1 column">
				

				<div class="col-md-2 column">
					<ul class="no-margin no-padding">
							<li>
						<a class="facebook" target="_blank" href="https://www.facebook.com/questrco"><button class="btn-circle"><i class="fa fa-facebook"></i></button></a>
							</li>
							<li>
						<a class="twitter" target="_blank" href="https://twitter.com/questrco"><button class="btn-circle"><i class="fa fa-twitter"></i></button></a>
							</li>
							<li>
						<a class="linkedin" target="_blank" href="http://linkedin.com/company/questr"><button class="btn-circle"><i class="fa fa-linkedin"></i></button></a>
							</li>
							<li>
						<a class="email" target="_blank" href="mailto:hello@questr.co"><button class="btn-circle"><i class="fa fa-envelope"></i></button></a>
							</li>
						</ul>
				</div><!-- ./column -->
				<div class="col-md-8 column text-center">
					<a href="{% url 'faq' %}">Frequently Asked Questions</a>
					<i>|</i>
					<a href="{% url 'contact' %}">Contact Us</a>
					<i>|</i>
					<a href="{% url 'terms' %}">Terms of Service</a>
					<i>|</i>
					<a href="{% url 'privacy' %}">Privacy Policy</a>

					{% comment %}
					<div class="col-md-12 column text-center">
						<i class="copyright">Copyright © 2014 Questr Inc. All rights reserved.</i>
					</div>
					{% endcomment %}

					<div class="col-md-12 column">
					
						
					</div>
				</div><!-- ./column -->
				<div class="col-md-2 column text-center no-padding">
					{% comment %}
					<h2 class="no-margin">xxxxxx</h2>
					<h6>packages delivered</h6>
					{% endcomment %}
				</div><!-- ./column -->
			</div><!-- ./column -->
		</div><!-- ./row -->
	</footer>
	<!-- Google Analytics -->
    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-49179513-1', 'auto');
		ga('send', 'pageview');
	</script>

		<script type='text/javascript' src={% static "js/jquery.min.js" %}></script> 
		<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
	    <script src={% static "bootstrap/js/tooltip.js" %}></script>
	    <script src={% static "js/modernizr.js" %}></script>
	{% block scripts %}
	{% endblock scripts %}
	</body>	    
</html>