{% block content %}
<div id="content">	
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		
			
		<!-- Single post -->
                <div class="feature">             
                	<div class="picture">
						<a class="image" title="Title" href="#">				
							<img src="http://distilleryimage10.ak.instagram.com/473d3c38c41c11e387a40002c9df5e1a_8.jpg">
						</a>
						
						<div class="item-content">
							
								<h4 class="title">title goes here</h4>
								<p class="description"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							
							<div class="meta">
								<div>
									<i class="icon-user"></i>
									<a href="#">John's Appleseed</a>
								</div>
								<div>Location:  
									<p class="location"><span class="city">Toronto</span>, <span class="province">Ontario</span>, <span class="country">Canada</span></p>
								</div>
								<div>Posted:
									<i class="posted">8 May 2013</i>
								</div>					
								<div>
									Deadline:
									<i class="due-date">11 May 2013</i>		
								</div>																
							</div>	<!-- End of meta -->
						</div>	<!-- End of item-content -->
                	</div>	<!-- End of picture -->
                </div>	<!-- End of feature -->
		

</div> <!--End of Content -->
{% endblock content %}