{% extends "mainbase.html" %}
{% load staticfiles %}
{% load tz %}
{% block localhead %}
    <!-- Bootstrap core CSS -->
    <link href={% static "css/thankyou-bootstrap.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->
    
    
    <!-- Circle progress bar css -->
     <link rel="stylesheet" href={% static "css/thankyou-circle.css" %}>

    <!-- Fonts from Google Fonts -->
    {# <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'> #}

{% endblock localhead %}
{% block content %}
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Thanks for joining us.<br>Please check your mailbox and verify your email address.</b></h1>
                    <h1>Click <u><a class="rol-lg-6" href="/user/verifymail">here</a></u> to resend the verification email!</b></h1>   
                </div><!-- /col-lg-6 -->
                <div class="col-lg-6">
                    <img class="img-responsive" src={% static "img/check.png" %} alt="">
                </div><!-- /col-lg-6 -->
                
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /headerwrap -->
{% endblock content %}
{% block scripts %}
{% endblock scripts %}