{% extends "mainbase.html" %}
{% load staticfiles %}
{% block content %}
	{% if message %}
		<p>{{ message }}</p>
	{% else %}
		<p>An email has been sent to your inbox. Please check. Click here to resend!<a href="/user/verifymail">verify</a></p>
	{% endif %}
    
{% endblock content %}
{% block scripts %}
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static 'js/libs/jquery.js' %}></script>
    <script src={% static 'bootstrap/js/bootstrap.min.js' %}></script>
    <script src={% static 'js/libs/jquery.masonry.min.js' %}></script>
    <script src={% static 'js/base.js' %}></script>
    <script src={% static 'js/script.js' %}></script>
{% endblock scripts %}