{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Google Analytics -->
  	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49179513-1', 'questr.co');
  ga('send', 'pageview');

</script>
  
  
  
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="img/x-icon" href="http://imageshack.com/a/img838/8337/dqhk.png">

    <title>Questr</title>
    
    <link rel="{% static 'assets/img/questThumbnail.png' %}" href="http://beta.questr.co" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
	
	<!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <!-- Circle progress bar css -->
     <link rel="stylesheet" href="{% static 'assets/css/circle.css' %}">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  
	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>QUESTR</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>{{ messageResponse | safe }}</h1>
					<form action="/beta/join" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_top" novalidate>
						{% csrf_token %}
						<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter your email address" required>
    					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    					<style="position: absolute; left: -5000px;" input type="text" name="b_2dd229ae45dbf10c17fd6fec4_7f3d74a524" value="">
						<input type="submit" value="Invite me!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning btn-lg">
					</form>					
					</form>	

				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="{% static 'assets/img/header.png' %}" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>What is Questr?</h1>
							
				<h3 >Questr is the new way to get your orders to you.<br>
				<br>
				<br>
				Questr helps you:
				</h3>
				
				<h3>
					<ul style="list-style:none;">
						<li><h2>1</h2></li>
						<li>Receive packages as fast as the most expensive <br>shipping option for a fraction of the cost.</li>
						<li><br></li>
						<li><h2>2</h2></li>
						<li>Make money while you travel.</li>		
						
					</ul>
				</h3>
				
			</div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
		
		
		
	<div class="container">
		<div class="row mt centered">
		<h1>How does it work?</h1>
		
		<div class="col-lg-6">		
			<img class="img-circle" src="{% static 'assets/img/person2.png' %}" width="180" alt="">	
			<h4>1.  Find Something You Want</h4>
			<p>Megan, a Questr in Canada, is looking to buy some vegemite. <br> She checks online, and prices go for 600% of what vegemite would normally go for in Australia! (Not including shipping!)</p>
		</div><!--/col-lg-6 -->
			<div class="col-lg-6">
				<img src="{% static 'assets/img/POSTQUEST.png' %}" width="180" alt="">
				<h4>2.  Post A Quest</h4>
				<p>Megan posts a Quest, offering a reward for anyone travelling from Australia to Canada willing to bring her some vegemite.</p>
			
		</div><!--/col-lg-6 -->
	</div><!-- /row -->
			
					
		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-circle" src="{% static 'assets/img/person1.png' %}" width="180" alt="">
				<h4>3.  Challenge Accepted</h4>
				<p>Jen is travelling from Australia to Canada, and still has plenty of space in her suitcase. She accepts the Quest to bring Megan her vegemite.</p>					
			</div><!--/col-lg-6 -->

			<div class="col-lg-6">
				<img class="img-circle" src="{% static 'assets/img/meetup.png' %}" width="180" alt="">
				<h4>4.  Meet Up</h4>
				<p>Megan is happy, because she received her package for a fraction of the cost and time.  Jen is happy, because she made some money travelling.</p>
			</div><!--/col-lg-6 -->
		</div><!-- /row -->
		

	

	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
			<h1>Sign Up To Be A Beta Tester</h1><br>
				<img src="{% static 'assets/img/ser02.png' %}" width="180" alt="">
					<form action="/beta/join" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_top" novalidate>
						{% csrf_token %}
					<br>
					<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter your email address" required>
    				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    				<style="position: absolute; left: -5000px;" input type="text" name="b_2dd229ae45dbf10c17fd6fec4_7f3d74a524" value="">
					<input type="submit" value="Invite me!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning btn-lg">
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<center>
		<!-- Facebook like button -->
		<a href="https://www.facebook.com/questrco" target="_blank"><img src="{% static 'assets/img/Facebook.png' %}" width="30" height="auto"></a>
		<!-- Twitter like button -->
		<a href="https://twitter.com/questrco" target="_blank"><img src="{% static 'assets/img/Twitter.png' %}" width="30" height="auto"></a>
		</center>
		
		<p class="centered">Questr - 2014</p>
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  </body>
</html>
