{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <link href={% static "assets/css/index.css" %} rel="stylesheet"> 

	<script src={% static "assets/js/pace.js" %}></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
{% endblock localhead %}

{% block content %}
<div class="preloader"></div>
	
    <! -- ******************** MASTHEAD SECTION ******************** -->	
	<main id="top" class="masthead" role="main">
		<div class="container">
			<h1>Canada's first crowdshipping platform.</h1>
			<h2>Cheapest, fastest, 24/7 shipments<br>within Greater Toronto Area.</h2>
 
			<div class="row">
				<div class="col-md-4 col-sm-12 col-md-offset-4 subscribe">
					<form class="form-horizontal" role="form" action="subscribe.php" id="subscribeForm" method="POST">
						<div class="form-group">
							<div class="col-md-7 col-sm-6 col-sm-offset-1 col-md-offset-0">
								<form action="/beta/join" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_top" role="form" novalidate>{% csrf_token %}
				        <div class="form-group">
							<input class="form-control input-lg" name="email" type="email" id="address" placeholder="Enter your email" data-validate="validate(required, email)" required="required">
				        </div>
				    </form>
							</div>
							<div class="col-md-5 col-sm-4">
								<button type="submit" class="btn btn-embossed btn-info btn-hg">Notify me</button>
							</div>
						</div>
					</form>
					<span id="result" class="alertMsg"></span> </div>
				</div>
 
				<a href="index.html#explore" class="scrollto">
				<p>SCROLL DOWN TO EXPLORE</p>
				<p class="scrollto--arrow"><img src={% static "assets/img/scroll_down.png" %} alt="scroll down arrow"></p>
				</a>
		</div><! --/container -->
	</main><! --/main -->
 

    <! -- ******************** FEATURES SECTION ******************** -->	
	<div class="container" id="explore">
		<div class="col-md-10 col-md-offset-1 column">
			<div class="section-title">
				<h2>What is Questr?</h2>
				<h4>Subtitle shit goes here</h4>
				<p>One of the world's first, Questr is a crowdshipping platform that provides cheap, fast, and economical shipments within Greater Toronto Area.
					<br>
						Unlike traditional courier companies like Canada Post or UPS, Questr's shippers deliver packages directly to the destination without the hassle of going to local facility, saving much time and labour.
				</p>
			</div>
		</div>

		
		<section class="row features">
			<div class="col-md-10 col-md-offset-1 column">
				<div class="col-md-4">
					<div class="thumbnail"> 
						
						<div class="caption">
							<h3>Cheapest</h3>
							<p>Starting from only $6, Questr offers the cheapest shipping options available in the entire Canada.</p>
						</div>
					</div><! --/thumbnail -->
				</div><! --/.column -->
	 
				<div class="col-md-4">
					<div class="thumbnail"> 
						
						<div class="caption">
							<h3>Fastest</h3>
							<p>Less than 30 minutes from STC to Square One. Decentralized logistics makes shipping lightning fast.</p>
						</div>
					</div><! --/thumbnail -->
				</div><! --/.column -->
	 
				<div class="col-md-4">
					<div class="thumbnail"> 
						
						<div class="caption">
							<h3>Available Everyday</h3>
							<p>Questr is always here, twenty-four-seven, no matter it's rush hour on Friday or midnight on Christmas Eve.</p>
						</div>
					</div><! --/thumbnail -->
				</div><! --/.column -->
			</div>
		</section><! --/section -->
 

	    <! -- ******************** MENTIONS SECTION ******************** -->	 
		<div class="section-title">
			<h2>We're mentioned in</h2>
			<h4>We've got traction son</h4>
		</div>
	
		<section class="row clientlogo breath">
			<div class="col-md-2 col-md-offset-5"> 
				<a href="http://skift.com/2014/03/27/daily-travel-startup-watch-opendoor-coexperiences-and-more/">
					<center><img src={% static "assets/img/clients/client01.png" %} class="img-responsive"></center>
				</a>
			</div>
		</section><! --/section -->
 
	</div><! --/container -->
  

	    <! -- ******************** PRICING LIST ******************** -->	  
		<div class="container">
 
			<div class="section-title">
				<h2>Questr compared to other competitors</h2>
				<h4>They've got nothing on us when it comes to same day delivery</h4>
			</div>
			<section class="row breath planpricing">
			
				<div class="col-md-4">
					<div class="pricing color1">
						<div class="planname">Questr</div>
						<div class="price"> <span class="curr">$</span>1<span class="per">/KM</span></div>
						<div class="billing">so cheap</div>
					</div><! --/pricing -->
				</div><! --/col-md-4-->
				
				<div class="col-md-4">
					<div class="pricing color2">
						<div class="planname">daiwu</div>
						<div class="price"> <span class="curr">$</span>49<span class="per">/KM</span></div>
						<div class="billing">the man's a joke</div>
					</div><! --/pricing -->
				</div><! --/col-md-4-->
				
				<div class="col-md-4">
					<div class="pricing color3">
						<div class="planname">Fedex</div>
						<div class="price"> <span class="curr">$</span>99<span class="per">/KM</span></div>
						<div class="billing">horrendous</div>
					</div><! --/pricing -->
				</div><! --/col-md-4-->
			</section><!-- /section planpricing -->
 

	    <! -- ******************** FAQ ******************** -->  
	    {% comment %}
		<div class="section-title">
			<h5>Frequently Asked Questions</h5>
		</div>
		
		<section class="row faq breath">
			<div class="col-md-6">
				<h6></h6>
				<p></p>
				<h6></h6>
				<p></p>
			</div><! --/col-md-6 -->
			
			<div class="col-md-6">
				<h6></h6>
				<p></p>
				<h6></h6>
				<p></p>
			</div><! --/col-md-6 -->
		</section><! --/section faq -->
		{% endcomment %}
	</div><! --/container -->
 





	   
	     
	<!-- *****************************************************************************************************************
	MIDDLE CONTENT
	***************************************************************************************************************** -->

	<div class="container mtb">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 column">

				<div class="col-lg-4">
					<h4>A few more details</h4>
					<div class="hline"></div>
					<p><a href="{% url 'about' %}" class="smoothScroll">More About Questr</a></p>
					<p><a href="{% url 'about' %}#how-questr-works" class="smoothScroll">How does Questr work?</a></p>
					<p><a href="{% url 'about' %}#FAQ" class="smoothScroll">Is Questr safe?</a></p>
					<p><a href="{% url 'about' %}#FAQ" class="smoothScroll">How much does Questr value safety?</a></p>
					<br>
				</div>

				<div class="col-lg-4">
					<h4>Say hi to us</h4>
					<div class="hline"></div>
					<p></p>
					<form action="/beta/contactus" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_top" role="form" novalidate>{% csrf_token %}
						<div class="form-group">
							<input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Your name">
							<p></p>
							<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Your email address">
							<p></p>
							<textarea name="message" class="form-control" rows="3" placeholder="Your message"></textarea>
						</div>
						<p></p>
						<button type="submit" class="btn btn-embossed btn-default">Send</button>
					</form>
				</div>
			</div>
		</div><! --/row -->
	</div><! --/container -->

{% endblock content %}

{% block scripts %}
<script src={% static "assets/js/jquery.js" %}></script>
<script src={% static "assets/js/bootstrap.js" %}></script>
<script src={% static "assets/js/easing.js" %}></script>

 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });
</script>
    
{% endblock scripts %}