{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Google Analytics -->
  	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49179513-1', 'questr.co');
  ga('send', 'pageview');

</script>
  
  
  
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="img/x-icon" href="http://imageshack.com/a/img838/8337/dqhk.png">

    <title>Questr</title>
    
    <link rel="{% static 'assets/img/questThumbnail.png' %}" href="http://beta.questr.co" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
	
	<!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <!-- Circle progress bar css -->
     <link rel="stylesheet" href="{% static 'assets/css/circle.css' %}">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  
	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>QUESTR</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>{{ messageResponse | safe }}</h1>
					<form action="/beta/join" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_top" novalidate>
						{% csrf_token %}
						<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter your email address" required>
    					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    					<style="position: absolute; left: -5000px;" input type="text" name="b_2dd229ae45dbf10c17fd6fec4_7f3d74a524" value="">
						<input type="submit" value="Notify me!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning btn-lg">
					</form>					
					</form>	

				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="{% static 'assets/img/fleet.png' %}" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	

</div>
	</div><!-- /container -->
		
	

	<div class="container">

		<div class="row mt centered">
			<div class="row">
            <br>
              <div class="col-md-4">
                <center>
                  <img src="{% static 'assets/img/3-1.png' %}" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Cheapest</h4>
                  <p class="footertext" style="text-align: left;">Starting from only $6, Questr is the cheapest shipping option available in the entire North America. How is it so cheap? Thanks to peer-to-peer, overhead of shipping packages has never been so little.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="{% static 'assets/img/3-2.png' %}" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Fastest</h4>
                  <p class="footertext" style="text-align: left;">Thanks to Questr's peer-to-peer community, there are only one place a package needs to go: le destination. Decentralized logistics gives shipments a humongous efficiency boost.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="{% static 'assets/img/3-3.png' %}" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Available 86,400 seconds a day</h4>
                  <p class="footertext" style="text-align: left;">Need to send something in the middle of the night? No pickups on weekend? Questr is always here to serve you, no matter it's rush hour on Friday or Christmas Eve.<br>
                </center>
              </div>
        	</div>
		</div><!-- /row -->
    </div>

		
	<div class="container">
	<hr>
		<div class="row mt centered">
		<div class="col-lg-6">
			<img src="{% static 'assets/img/Q1.png' %}" width="180" alt="">
			<h4>What is Questr?</h4>
			<p style="text-align: left;">Founded in early 2014 by two undergraduates at the University of Western Ontario, Questr is a peer-to-peer stratup that provides cheap, fast, and economical shipments within Greater Toronto Area and is one of the first in the world that provides the service.
			<br>
			Unlike traditional courier companies like UPS, Questr uses decentralized logistics and lets its users deliver the packages. A shipper user delivers the packages directly to the destination without the hassle of going to local facility, saving much time and labour.


			</p>
		
		</div><!--/col-lg-6 -->

		<div class="col-lg-6">		
			<img class="img-circle" src="{% static 'assets/img/Q2.png' %}" width="180" alt="">	
			<h4>How can I trust a stranger?</h4>
			<p style="text-align: left;">Questr utilizes a multitude of security measures, such as credit card binding, photo ID verification, and a review system, to make sure that each shipment is just as safe and even more trackable and traceable. Oh, you can also choose a shipper of your liking. 
			<br>
			Questr has a zero tolerance policy towards frauds and other immoral and illegal activities. If detected, a user, along their associated cell phone number, email address, social network account, credit card, and photo id, will be immediately and permanently put on our blacklist.</p>
		</div><!--/col-lg-6 -->
	</div><!-- /row -->
			
		<div class="row mt centered">
			<div class="col-lg-6">
				<img class="img-circle" src="{% static 'assets/img/Q3.png' %}" width="180" alt="">
				<h4>How can I make sure whether a user is credible?</h4>
				<p style="text-align: left;">Besides what Questr does automatically for you, you can also go to a shipper's profile and go over the reviews that have been provided by other users.</p>
			</div><!--/col-lg-6 -->
					

			<div class="col-lg-6">
				<img class="img-circle" src="{% static 'assets/img/Q4.png' %}" width="180" alt="">
				<h4>When will Questr be available?</h4>
				<p>An excellent service isn't built overnight. We are working hard with the team, and are expecting to send out our beta test invitations in late June of 2014.</p>					
			</div><!--/col-lg-6 -->


		</div><!-- /row -->
	</div>
		

	

	<div class="container">
		<hr>
		<!-- Facebook like button -->
		<a href="https://www.facebook.com/questrco" target="_blank"><img src="{% static 'assets/img/Facebook.png' %}" width="30" height="auto"></a>
		<!-- Twitter like button -->
		<a href="https://twitter.com/questrco" target="_blank"><img src="{% static 'assets/img/Twitter.png' %}" width="30" height="auto"></a>
		</center>
		
		<p class="centered">Questr - 2014</p>
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  </body>
</html>
