{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Home | Questr</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "assets/css/bootstrap.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={% static "assets/css/font-awesome.min.css" %} rel="stylesheet">
  
  
    <link href={% static "assets/css/prettify.css" %} rel="stylesheet">
    <link href={% static "assets/css/flat-ui.css" %} rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href={% static "assets/css/style.css" %} rel="stylesheet">
    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Menu -->   
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                
                <nav class="menu" id="theMenu">
                    <div class="menu-wrap">
                        <h1 class="logo"><a href="index.html#home">Questr</a></h1>
                        <i class="fa fa-times menu-close"></i>
                        <a href="{% url 'index' %}" class="smoothScroll">Home</a>
                        <a href="{%url 'about'%}#how-questr-works" class="smoothScroll">How Questr works</a>
                        <a href="{% url 'about' %}" class="smoothScroll">About</a>
                        <a href="{% url 'about'%}#FAQ" class="smoothScroll">FAQ</a>     
                    </div>
                    
                    <!-- Menu button -->
                    <div id="menuToggle"><i class="fa fa-bars"></i></div>
                </nav>      
            </div>
        </div>
    </div>
    
    

<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
        <left>Questr</left>
        <div class="row">
            <br><br>
            <div class="col-lg-6">
                <h1 class="text-left">
                    <br>
                    Thanks
                    <br>
                    for joining us!
                    <br>
                </h1>
                <h3 class="text-left">
                    Please check your email inbox.
                </h3>
                <br>
                <form action="/beta/join" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_top" novalidate>
                      <div class="form-group">
                        <input type="email" name="EMAIL" class="form-control" id="exampleInputEmail1" placeholder="Your email address">
                        <button type="submit" class="btn btn-embossed btn-inverse btn-hg">Notify me</button>
                      <center></center>
                      </div>
                </form>
            </div>
            <div class="col-lg-6">
                <br><br>
                <img class="img-responsive" src={% static "assets/img/thankyou.png" %} alt="">
            </div>
        </div><!-- /row -->

    </div><!-- /container -->
</div><!-- /headerwrap -->



    <!-- *****************************************************************************************************************
     SERVICE LOGOS
     ***************************************************************************************************************** -->
     <div id="service">
        <div class="container">
            <div class="row centered">
            <div class="col-md-10 col-md-offset-1 column">
                <div class="col-md-4">
                    <i class="fa fa-dollar"></i>
                    <h4>Cheapest</h4>
                    <p>Starting from only $6, Questr offers the cheapest shipping options available in the entire Canada.</p>
                    
                </div>
                <div class="col-md-4">
                    <i class="fa fa-bolt"></i>
                    <h4>Fastest</h4>
                    <p>Less than 30 minutes from STC to Square One. Decentralized logistics makes shipping lightning fast.</p>
                    
                </div>
                <div class="col-md-4">
                    <i class="fa fa-clock-o"></i>
                    <h4>Available 86,400 seconds a day</h4>
                    <p>Questr is always here, twenty-four-seven, no matter it's rush hour on Friday or midnight on Christmas Eve.</p>
                </div>  
            </div>                  
            </div>
        </div><! --/container -->
     </div><! --/service -->
     
         
    <!-- *****************************************************************************************************************
     MIDDLE CONTENT
     ***************************************************************************************************************** -->

     <div class="container mtb">
        <div class="row">
        <div class="col-md-10 col-md-offset-1 column">
            <div class="col-lg-4">
                <h4>What is Questr?</h4>
                <p>
                    One of the world's first, Questr is a crowdshipping platform that provides cheap, fast, and economical shipments within Greater Toronto Area.
                    <br>
                    Unlike traditional courier companies like Canada Post or UPS, Questr's shippers deliver packages directly to the destination without the hassle of going to local facility, saving much time and labour.
                </p>
                <br>
            </div>
            
            <div class="col-lg-4">
                <h4>A few more details</h4>
                <div class="hline"></div>
                <p><a href="about.html" class="smoothScroll">More About Questr</a></p>
                <p><a href="about.html#how-questr-works" class="smoothScroll">How does Questr work?</a></p>
                <p><a href="about.html#FAQ" class="smoothScroll">Is Questr safe?</a></p>
                <p><a href="about.html#FAQ" class="smoothScroll">How much does Questr value safety?</a></p>
                <br>
            </div>
        </div>
        </div><! --/row -->
     </div><! --/container -->


     <!-- *****************************************************************************************************************
     MENTIONED
     ***************************************************************************************************************** -->
     <div id="twrap">
         <div class="container">
            <div class="row centered">
                <h2>WE'RE MENTIONED IN</h2> 
                <br><br>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 column">
                    <img src="assets/img/mentioned01.png" class="img-responsive">
                    <br><br>
                </div>

            </div><! --/row -->
         </div><! --/container -->
     </div><! --/cwrap -->


    <!-- *****************************************************************************************************************
     FOOTER
     ***************************************************************************************************************** -->
     <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>About US</h4>
                    <div class="hline-w"></div>
                    <p>
                        Questr is Canada's first crowdshipping platform and aims to provide cheaper, faster, and more economical shipping using the Internet way of thinking.
                        The startup was founded in March of 2014 by two undergraduate students at the University of Western Ontario.
                    </p>
                </div>
                <div class="col-lg-3">
                    <h4>Find Us</h4>
                    <div class="hline-w"></div>
                    <p>
                        Questr at the moment is a project in development and is expected to start functioning in late June. 
                        <br>
                        If you are interested in talking to us - joining us, investing in us, or simply saying hi - please email us at hello@questr.co or use the contact form provided.
                    </p>
                </div>
                <div class="col-lg-3">
                    <h4>Say hi to us</h4>
                    <div class="hline-w"></div>
                        
                    <form role="form">
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your name">
                        <br>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your email address">
                        <br>
                        <textarea class="form-control" rows="3" placeholder="Your message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-embossed btn-default">Send</button>
                    </form>
                </div>
                <div class="col-lg-3">
                    <h4>Social Us</h4>
                    <div class="hline-w"></div>
                    <p>
                        <a href="https://www.facebook.com/questrco"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/questrco"><i class="fa fa-twitter"></i></a>
                        <a href="http://linkedin.com/company/questr"><i class="fa fa-linkedin"></i></a>
                        <a href="mailto:hello@questr.co"><i class="fa fa-envelope"></i></a>
                    </p>    
                </div>

            </div><! --/row -->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <br><br><br>
                    <p class="text-center">2014 Questr Co</p>
                </div>
            </div>
        </div><! --/container -->
     </div><! --/footerwrap -->

     
     
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "assets/js/modernizr.js" %}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src={% static "assets/js/bootstrap.min.js" %}></script>
    <script src={% static "assets/js/retina-1.1.0.js" %}></script>
    <script src={% static "assets/js/jquery.hoverdir.js" %}></script>
    <script src={% static "assets/js/jquery.hoverex.min.js" %}></script>
    <script src={% static "assets/js/jquery.prettyPhoto.js" %}></script>
    <script src={% static "assets/js/jquery.isotope.min.js" %}></script>
    <script src={% static "assets/js/custom.js" %}></script>
    <script src={% static "assets/js/smoothscroll.js" %}></script>
    <script src={% static "assets/js/main.js" %}></script>
    
    <script src={% static "assets/js/jquery-ui-1.10.3.custom.min.js" %}></script>
    <script src={% static "assets/js/jquery.ui.touch-punch.min.js" %}></script>
    <script src={% static "assets/js/bootstrap.min.js" %}></script>
    <script src={% static "assets/js/bootstrap-select.js" %}></script>
    <script src={% static "assets/js/bootstrap-switch.js" %}></script>
    <script src={% static "assets/js/flatui-checkbox.js" %}></script>
    <script src={% static "assets/js/flatui-radio.js" %}></script>
    <script src={% static "assets/js/jquery.tagsinput.js" %}></script>
    <script src={% static "assets/js/jquery.placeholder.js" %}></script>
    <script src={% static "assets/js/typeahead.js" %}></script>
    <script src={% static "assets/js/google-code-prettify/prettify.js" %}></script>
    <script src={% static "assets/js/application.js" %}></script>
    
    
    
    
    

    <script>
// Portfolio
(function($) {
    "use strict";
    var $container = $('.portfolio'),
        $items = $container.find('.portfolio-item'),
        portfolioLayout = 'fitRows';
        
        if( $container.hasClass('portfolio-centered') ) {
            portfolioLayout = 'masonry';
        }
                
        $container.isotope({
            filter: '*',
            animationEngine: 'best-available',
            layoutMode: portfolioLayout,
            animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        },
        masonry: {
        }
        }, refreshWaypoints());
        
        function refreshWaypoints() {
            setTimeout(function() {
            }, 1000);   
        }
                
        $('nav.portfolio-filter ul a').on('click', function() {
                var selector = $(this).attr('data-filter');
                $container.isotope({ filter: selector }, refreshWaypoints());
                $('nav.portfolio-filter ul a').removeClass('active');
                $(this).addClass('active');
                return false;
        });
        
        function getColumnNumber() { 
            var winWidth = $(window).width(), 
            columnNumber = 1;
        
            if (winWidth > 1200) {
                columnNumber = 5;
            } else if (winWidth > 950) {
                columnNumber = 4;
            } else if (winWidth > 600) {
                columnNumber = 3;
            } else if (winWidth > 400) {
                columnNumber = 2;
            } else if (winWidth > 250) {
                columnNumber = 1;
            }
                return columnNumber;
            }       
            
            function setColumns() {
                var winWidth = $(window).width(), 
                columnNumber = getColumnNumber(), 
                itemWidth = Math.floor(winWidth / columnNumber);
                
                $container.find('.portfolio-item').each(function() { 
                    $(this).css( { 
                    width : itemWidth + 'px' 
                });
            });
        }
        
        function setPortfolio() { 
            setColumns();
            $container.isotope('reLayout');
        }
            
        $container.imagesLoaded(function () { 
            setPortfolio();
        });
        
        $(window).on('resize', function () { 
        setPortfolio();          
    });
})(jQuery);
</script>
  </body>
</html>
