{% extends "mainbase.html" %}
{% load staticfiles %}
{% load active %}
{% block localhead %}
<link href={% static "css/bootstrap-datetimepicker.min.css" %} rel="stylesheet">

{% endblock localhead %}
{% block content %}



<div class="container-fluid">
  
   
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 column">
          <div class="col-xs-12 col-lg-8 column">
          <h3><span class="glyphicon glyphicon-user"></span> Request a shipment</h3>
          
        </div><!-- ./column -->
    </div>
  </div><!-- ./row -->
  

  <div class="row clearfix">
  <form role="form" action="{% url 'confirmquest' %}" method="post" enctype="multipart/form-data" name="form" ng-submit="submitForm()" novalidate>{% csrf_token %}
    <input type="hidden" name="title" value="{{title}}">
    <input type="hidden" name="description" value="{{description}}">
    <input type="hidden" name="reward" value="{{reward}}">
    <input type="hidden" name="size" value="{{size}}">
    <input type="hidden" name="distance" value="{{distance}}">
    <input type="hidden" name="srcaddress" value="{{srcaddress}}">
    <input type="hidden" name="srcaddress_2" value="{{srcaddress_2}}">
    <input type="hidden" name="srccity" value="{{srccity}}">
    <input type="hidden" name="srcpostalcode" value="{{srcpostalcode}}">
    <input type="hidden" name="srcname" value="{{srcname}}">
    {% if srcphone %}
    <input type="hidden" name="srcphone" value="{{srcphone}}">      
    {% endif %}
    <input type="hidden" name="dstaddress" value="{{dstaddress}}">
    <input type="hidden" name="dstaddress_2" value="{{dstaddress_2}}">
    <input type="hidden" name="dstcity" value="{{dstcity}}">
    <input type="hidden" name="dstpostalcode" value="{{dstpostalcode}}">
    <input type="hidden" name="dstname" value="{{dstname}}">
    {% if dstphone %}
    <input type="hidden" name="dstphone" value="{{dstphone}}">      
    {% endif %}


    <div class="col-xs-12 col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 column">
      
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 column">

        <!-- POSTAL CODE INPUT -->
        <div class="form-group col-xs-6 col-sm-6 col-md-3 col-lg-3 column">
                    <div class="radio">       
          <label>
            <input class="radio-inline" type="radio" name="pickup_time" id="inlineRadio1" value="now" checked>
                      Now
          </label>
                </div>
        </div><!-- POSTAL CODE INPUT -->  

        <!-- PHONE NUMBER -->
        <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5 column">
                    <div class="radio">
               <label>
                        <input class="radio-inline" type="radio" name="pickup_time" id="customTime" value="not_now">
                        Choose another time
                        <select name="pickup_when" data-size="2">
                                <option name="">Today</option>
                                <option name="">Tomorrow</option>
                        </select>
                        <br>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker4'>
                                <input type='text' name="not_now_pickup_time" class="form-control" name="" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
          </label>
                    </div><!-- radio -->        
        </div><!-- PHONE NUMBER -->

    


          </div><!-- column -->
      <div class="well col-xs-12 col-sm-12 col-md-4 col-lg-4 column">
         <img class="img-responsive" src="{{map_image}}">
         {% comment %}
            <div class="no-image text-center">
            <div class="no-image item-image text-center">
                <span style="width:30px;height:30px;display:block;position:absolute;right:20px;margin:7px;"><a><i class="fa fa-paint-brush"></a></i></span>
                <img class="img-responsive" src="{{map_image}}">
                <h1 style="font-size:50px;"><i class="fa fa-picture-o"></i></h1>   
            </div>
            {% endcomment %}

            {% comment %}
            <h4>Title will go here</h4>
            {% endcomment %}

            {% comment %}
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="..." alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="..." alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                ...
              </div>
              {% endcomment %}
           

            <h4>{{title|title}}</h4>
             <p>{{description}}</p>
        
            <hr>
            <h6>DELIVERY <br></h6>



            <!-- FROM/TO -->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <p><strong>From </strong>{{srcname}} {% if srcphone %} ({{srcphone}})
                    {% endif %}<br>{% if srcaddress_2 %}
                      {{srcaddress_2}}
                    {% endif %} {{srcaddress}}, {{srccity}}, {{srcpostalcode}}<br><br><strong>To</strong> {{dstname}} {% if dstphone %} ({{dstphone}})
                    {% endif %}<br>{% if dstaddress_2 %}
                      {{dstaddress_2}}
                    {% endif %} {{dstaddress}}, {{dstcity}}, {{dstpostalcode}}</p>
                </div>
            </div>
            <hr>
             <h6>DETAILS <br></h6>
            <!-- SIZE -->
            <div class="row clearfix">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <p><strong>Size </strong></p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <p>{{size}}</p>
                </div>
            </div>
             <div class="row clearfix">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <p><strong>Distance </strong></p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <p>{{distance}}km</p>
                </div>
            </div>
            <hr>
            {% comment %}
            <!-- DELIVERY FEE -->
            <div class="row clearfix">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <p><strong>Delivery Fee</strong></p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <p></p>
                </div>
            </div>
            <!-- SERVICE FEE -->
            <div class="row clearfix">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <p><strong>Service Fee</strong></p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <p>$3.00</p>
                </div>
            </div>
            {% endcomment %}

            {% comment %}
            <!-- PROMO CODE -->
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 column">


            <div class="panel panel-default" id="panel1">
                <div class="panel-heading">
                    <a>Coupon Code</a>
                </div><!-- ./panel-heading --> 
                  <div class="panel-body panel-collapse collapse in" id="collapseOne">
                    <div class="form-inline"> 
                        <input id="promocode" name="promocode" type="text" placeholder="" class="form-control input-xs">
                        <button class="btn btn-default">Apply</button>
                    </div>
                  </div><!-- ./panel-body -->
                </div>
                </div>
            </div>
             <hr>
            {% endcomment %}
           
           
            <!-- PROMO CODE -->
            <div class="row clearfix">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <h3>TOTAL</h3>
                    
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 column">
                    <h3>${{reward}}</h3>
                </div>
            </div>
      <br><br><br>
            <center><button type="submit" class="btn btn-lg btn-rounded">CONFIRM</button></center>
      </div><!-- ./well -->
     </div>
  </form>
</div><!-- ./row -->
    {% endblock content %}
</div><!-- ./container -->


{% block scripts %}

<script src={% static "js/moment.js" %}></script>
<script src={% static "js/bootstrap-datetimepicker.js" %}></script>
<script src={% static "js/jquery.timepicker.js" %}></script>

<script type="text/javascript">
        $(document).on('click', '.panel-heading', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
            }
        })
    </script>

<script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    pickDate: false,
                    use24hours: true,
                    format: 'HH:mm'
                });
            });
        </script>

<script type="text/javascript">
    function reply_click(clicked_id)
    {
        if(clicked_id == "autofill")
        {
            document.getElementById('srcaddress').value = "{{userdetails.address.streetaddress}}";
            document.getElementById('srcpostalcode').value = "{{userdetails.address.postalcode}}";
            document.getElementById('srcphone').value = "{{userdetails.phone}}";
            document.getElementById('srcname').value = "{{userdetails.get_full_name}}";
        }
    }    
</script>
{% endblock scripts %}
