{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <!-- Custom CSS -->
    <link href={% static "css/theme.css" %} rel="stylesheet">
    <link href={% static "css/quest.css" %} rel="stylesheet">
    <link href={% static "css/star-rating.css" %} media="all" rel="stylesheet" type="text/css"/>
    
    <!-- Custom Javascript -->
    <script src={% static "js/validator.js" %}></script>    
    <script src={% static "js/lightbox.js" %}></script>
    <script src={% static "js/star-rating.js" %} type="text/javascript"></script>
    
{% endblock localhead %}
{% block content %}

<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">				
					
					
			
					<div class="col-md-3 column">
						<div class="well">
							<a class="thumbnail" data-target="#lightbox" data-toggle="modal" href="#">
								<img alt="itemImage" class="itemImage" src="{{questdetails.item_images}}">
							</a>
							
							<center>
								
								<img src={% static 'img/backpack.png' %} style="width:80px; height:auto;" />
							</center>
	
							<div class="modal fade" id="lightbox" tabindex="-1">
								<div class="modal-dialog">
									<button class="close hidden" data-dismiss="modal" type="button">×</button>
	
									<div class="modal-content">
										<div class="modal-body"><img alt="" src=""></div>
									</div>
								</div>
							</div>	<!-- ./lightbox -->						
						</div>	<!-- ./well -->
					</div>	<!-- End of column -->
					

					<div class="col-md-6 column">
						<div class="well">
							<div class="row clearfix">
								<div class="col-md-10 column">
									<textarea class="form-control" placeholder="Title"> {{questdetails.title}} </textarea>
								</div>
								<div class="col-md-2 column">								
									<a href="edit">					
										<button type="button" class="btn btn-default" style="float:right;">Save</button>
									</a>									
								</div>
							</div>	<!-- ./row -->
							
							<div class="row clearfix">
								<div class="col-md-8 column inBodyWell">
									<p>Offer: </p><textarea class="form-control" placeholder="Offer">${{questdetails.reward}}</textarea>
									<button type="button" class="btn btn-default offerBtn">Offer</button>
								</div>
								<div class="col-md-4 column">
									
								</div>
							</div>
							<textarea class="form-control" placeholder="Description">{{questdetails.description}}</textarea>
						
							<p>Departure Address: </p><textarea class="form-control title" placeholder="">{{questdetails.srcaddress}}</textarea>
						
						
							<p>Destination Address: </p><textarea class="form-control title" placeholder="">{{questdetails.dstaddress}}</textarea>
							
						
						</div>	<!-- ./well -->
					</div>	<!-- End of column -->
				
				
				
					<div class="col-md-3 column">
						<div class="well">
							
							<p>
								<a href="/user/{{questdetails.questrs.displayname}}">{{questdetails.questrs.first_name}} {{questdetails.questrs.last_name}}</a>
							</p>
							<input id="input-21e" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
							<p>
								Posted: {{questdetails.creation_date}}<br>
								Location: {{questdetails.location}}, Canada
							</p>
						</div>
					</div>	<!-- End of column -->
					
				</div>
			</div>
		</div>
	</div>
  
{% endblock content %}
{% block scripts %}    
{% endblock scripts %}