{% extends "mainbase.html" %}
{% load staticfiles %}
{% load active %}
{% block localhead %}
  <!-- Custom CSS -->
    <link href={% static "css/quest.css" %} rel="stylesheet">
{% endblock localhead %}
{% block content %}

<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 column">
			<div class="panel panel-default body-prop border-colours">
				<div class="panel-heading">
					<div class="panel-title light-grey">Request a shipment</div>
				</div><!-- ./panel-heading -->

				<div class="panel-body">
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
						<!-- Name input-->
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"><p class="light-grey">Title</p></label>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
							<input id="title" name="title" type="text" placeholder="Shipment title" class="form-control input-xs">
							</div><!-- ./column -->
						</div><!-- ./form-group -->

						<!-- Size input-->
						<div class="form-group" id="size">
							<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="message"><p class="light-grey">Package size</p></label>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
								<div class="input-group col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 column">	
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column">
										<center>
											<img src={% static 'img/backpack.png' %} style="width:100%; height:auto;" />       	 	
											<p class="grey">Backpack</p>
											<input type="radio" name="size" value="backpack"> 
										</center>	
									</div><!-- ./column -->  
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column">
										<center>
											<img src={% static 'img/car.png' %} style="width:100%; height:auto;" />
											<p class="grey">Car</p>
											<input type="radio" name="size" value="car">
										</center>	
									</div><!-- ./column -->
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column">
										<center>
											<img src={% static 'img/minivan.png' %} style="width:100%; height:auto;" />
											<p class="grey">Minivan</p>
											<input type="radio" name="size" value="minivan">
										</center> 	
									</div><!-- ./column -->
								</div><!-- /input-group -->
							</div><!-- ./column -->
						</div><!-- ./form-group -->

						<!-- Message body -->
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="message"><p class="light-grey">Message</p></label>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
								<textarea class="form-control" id="description" name="description" placeholder="Brief description of the delivery or anything the shipper should be aware of" rows="5"></textarea>
							</div><!-- ./column -->
						</div><!-- ./form-group -->



						<!-- Location input-->
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label"><p class="light-grey">Pick up from</p></label>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column"> 
								<select class="btn-classic" data-size="5" name="srccity">
									<option>Choose a city</option>
									<option>Toronto</option>
									<option>Brampton</option>
									<option>Markham</option>
									<option>Mississauga</option>
									<option>Richmond Hill</option>
									<option>Vaughan</option>
								</select>
							</div><!-- ./column -->
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column"></div>  
						</div>  <!-- ./form-group -->

						<!-- Departure Address input-->
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
								<input id="srcaddress" name="srcaddress" type="text" placeholder="Departure Address" class="form-control input-xs">
							</div><!-- ./column -->
						</div><!-- ./form-group -->

						<div class="form-group">
							<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label"><p class="light-grey">Drop off at</p></label>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">   
								<select class="btn-classic" data-size="5" name="dstcity">
									<option>Choose a city</option>
									<option>Toronto</option>
									<option>Brampton</option>
									<option>Markham</option>
									<option>Mississauga</option>
									<option>Richmond Hill</option>
									<option>Vaughan</option>
								</select>
							</div><!-- ./column -->
						</div>  <!-- ./form-group -->  

						<!-- Departure Address input-->
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
								<input id="dstaddress" name="dstaddress" type="text" placeholder="Destination Address" class="form-control input-xs">
								
								<p>Distance</p>
							</div><!-- ./column -->
						</div><!-- ./form-group -->

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 column text-center">
							<button type="submit" class="btn btn-info">Continue</button>
						</div><!-- ./column -->
					</form>     
				</div><!-- ./panel-body -->
			</div><!-- ./panel -->


		</div><!-- ./column -->
	</div><!-- ./row -->
	{% endblock content %}
</div><!-- ./container-fluid -->


{% block scripts %}
<script>
$(document).ready(function(){
  $("p").click(function(){
    $(this).hide();
  });
});
</script>
{% endblock scripts %}