a {white-space: nowrap;}
 
img {
	max-width: 100%;
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
 }
 
 .content {
	margin-top: 0;
	margin-bottom: 0;
}

#pages {
    display: none;
}

 
/************ Feature posts ***************/


.post {
	padding: 8px;
}

.post hr {
	margin-bottom: 0px;
	margin-top: 0px;
 }

.post p {
	margin: 0;
}

.post .title-desc {
	margin-bottom: 5px;
	margin-top: 5px;
}

.post .title-desc h6, .post .title-desc p {
	margin: 0;
}



.post .post-info {
	margin-bottom: 5px;
	margin-top: 5px;
	color: grey;
}

.post .post-info p {
	font-size: 9px;
	margin: 0;
}

.post .well {
	padding: 0;
	margin: 0;
}

.post .item-image {
	margin: 0;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.post input.rating {
	margin: 0;
}

.post a.username, .post a.username p {
	margin: 0;
}

.post .userbox {
	margin: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.post .userbox .column {
	margin-bottom: 5px;
	margin-top: 5px;
}

.post .userbox:hover {
	background: rgba(95,151,216,0.07);
}