@charset "utf-8";

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#FFF;
	font-weight:300;
	color:rgba(0,0,0,0.8);
	}
	
strong,b{
	font-weight:600;
	}

h1{font-size:50px;line-height:60px;margin:25px 0;font-weight: 100;}
h2{font-size:40px;margin:15px 0;font-weight: 200;}
h3{font-size:20px;margin:10px 0;font-weight:200;}
h4{font-size:20px;margin:10px 0;font-weight:400;color: #656565;}
h5{font-size:28px;font-weight:400;margin:15px 0;color:#384047;}
h6{font-size:16px;font-weight:400;margin:10px 0;color:#384047;}
p{font-size: 16px;font-weight: 300;margin: 7px 0;color: #666;}





#aboutus {
	background-image: url('../img/aboutus.jpg');
}

#small-package {
	background-image: url('../img/carriables.jpg');
}

#car {
	background-image: url('../img/car.jpg');	
}

#van {
	background-image: url('../img/van.jpg');	
}

#blog {
	background-image: url('../img/blog.jpg');	
}

#shipper {
	background-image: url('../img/shipper.jpg');	
}



.grey-transition {
	-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition:  0.1s;
}

.grey-transition:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition:  0.1s;
}

.blacknwhite {
	-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}







a.block {
	display: block;
	-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition:  0.1s;
}

a.block:hover {
	display: block;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition:  0.1s;
}

.small {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.col {
	height: 350px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

.col h1, .col h2, .col h3, .col p {
	position: relative;
	text-align: center;	
	color: white;
	top: 40%;
}


/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}







/********* Carousel Styles ************/

.carousel-inner img {
    width: 100%;
    max-height: 600px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
	padding: 10px;
}

.header-text h3 span {
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}


















.btn,.btn-lg,.input-lg{border-radius:3px;}

.form-control{
	border-radius:3px;
	-webkit-box-shadow:none;
	box-shadow:none;
	border:0;
	}

	
.input-lg{height:55px;}

	
/*========== MODULE ==============*/
.section {
	margin-top: 0px;
	padding: 50px 50px;
}

.grey {
	background: #f9f9f9;
}
	
	
/*========== 1.   ==============*/	


.logo {
	padding: 45px 0;
	text-align:center;
}
.subscribe {
	padding: 45px 0;
}
.alertMsg {
	float: left;
	font-size: 14px;
	display: block;
	padding: 5px 17px;
}

.big-button {
	background: #5abdff;
}




/*========== 3. HERO IMAGE ==============*/
.section-title {
	text-align:center;
	margin-bottom:30px;
}
.section-title h2 {
	color:#384047;
}
.section-title h4 {
	color:#8a8a8a;
}
.heroimg img, .clientlogo img {
	max-width:100%;
}
/*========== 4. FEATURES ==============*/

.features {
	margin:25px 0;
}
.thumbnail {
	border:0;
	text-align:center;
}

/*Hover Animation*/

.thumbnail img {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.thumbnail:hover img {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}
/*========== 5. TESTIMONIALS ==============*/

.testblock {
	width:100%;
	height:auto;
	padding:20px;
	background:#FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	position:relative;
	line-height:28px;
	font-size:16px;
}
.testblock:after {
	top: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.clientblock {
	margin-top:40px;
	margin-left:10px;
}
.clientblock img {
	float:left;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.clientblock p {
	padding-left:80px;
	padding-top:13px;
}
.clientblock p strong {
	color:#384047;
	font-size:16px;
}
/* Animation */

.testblock {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.testblock:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}
/*========== 6. PLANS AND PRICING ==============*/
.pricing {
	border: none;
}

.pricing .panel-heading {
	background: #5abdff;
	color: white;
	border-radius: 1px;
}

.pricing .panel-body {
	text-align: center;
	border-radius: 0;
}

.pricing .fa {
	font-size: 60px;
}




.pricing {
	text-align:center;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.pricing .price {
	font-size:52px;
	font-weight:300;
	margin:10px 0;
}
.pricing .billing {
	text-transform:uppercase;
	color:#FFF;
	opacity:0.7;
}
.pricing .price .curr {
	display:inline-block;
	font-size:20px;
	vertical-align:super;
}
.pricing .price .per {
	display:inline-block;
	font-size:20px;
	vertical-align: baseline;
}
/* Animation */

.pricing {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.pricing:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}

/*========== 7. FAQ ==============*/

.faq p {
	margin-bottom:25px;
}


/*========== SAY HI ==============*/








/* END OF BASE SITE STYLE
---------------------------------------------------- */

/* Pure CSS3 jQuery-Like fadeIn
---------------------------------------------------- */
.fadeIn {
	/* CSS needed for animation
	---------------------------------------------------- */
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	-o-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-1s {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
}

.fadeIn-2s {
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}

/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-1s {
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	-o-animation-delay:1s;
	animation-delay:1s;
}

.fadeIn-Delay-2s {
	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	-o-animation-delay:2s;
	animation-delay:2s;
}

/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }




.theme-button, .theme-button:hover {
	border-width: 2px;
	border-color: #5abdff;
	background: #5abdff;
	border-radius: 10%;
	color: white;
	font-weight: 400;
}




#say-hi input, #say-hi textarea, #say-hi button {
	margin-top: 3px;
}






#what-is .glyphicon {
	font-size: 50px;
	font-weight: 300;
	color: white;
}



.embossed-heavy {
	border: none;	 
}


.theme-highlights {
	color: #3498DB;
}

.theme-highlights:hover {
	color: #5abdff;
}

.theme-color1 {
	color: #3498DB;
}

.theme-color2 {
	color: #5abdff;
}


.circle {
  position: relative;
	  padding-bottom: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: black;
  border-width: 1px;
  border-color: black;
  margin-bottom: 5px;
}


	.circle__grandparent {
		  position: absolute;
		  width: 100%;
		  height: 100%;
	}

		.circle__parent {
			  display: table;
  width:auto;
  			height: 100%;
  			width: 100%;
		}

			.circle__child {
  display: table-cell;
				  vertical-align: middle;
  				text-align: center;
			}

















#phone {
    background: #2c3e50;
    border-radius: 30px;
    left: 0;
    margin: 0 auto 0;
    padding: 70px 18px 68px 18px;
    position: absolute;
    right: 0;
    width: 240px;
}

#phone:before {
    background: #1f2b38;
    border-radius: 20px;
    content: '';
    height: 8px;
    left: 0;
    margin: -35px auto;
    position: absolute;
    right: 0;
    width: 45px;
}

#phone:after {
    background: #1f2b38;
    border-radius: 20px;
    content: "";
    display: block;
    height: 42px;
    left: 0;
    margin: 12px auto;
    position: absolute;
    right: 0;
    width: 42px;
}

#screen {
    background: #d6e6e9;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    height: 400px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 240px;
}

.viewport {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    background: #d6e6e9;
    position: absolute;
    width: 100%;
    height: 100%;
}

.first {
    z-index: 2;
    left: 0;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotateY(0deg);
    -moz-transform-origin: 0% 0%;
    -moz-transform: rotateY(0deg);
}

.last {
    z-index: 1;
    top: 400px;
}

.animate .last {
    top: 0;
}

.animate .first {
    -webkit-transform: rotateY(110deg);
    -moz-transform: rotateY(110deg);
}

.last .box.image {
    left: 240px;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.last .box.text {
    left: -240px;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.last .box.comment {
    bottom: -150px;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.animate .last .box.image {
    left: 0;
}

.animate .last .box.text {
    left: 0;
}

.animate .last .box.comment {
    bottom: 0;
}

.header {
    color: #ddebee;
    background: #55b5c9;
    font-family: Montserrat;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
}

.header span {
    float: right;
    background: #ddebee;
    color: #55b5c9;
    font-size: 11px;
    padding: 5px;
    margin-top: -3px;
    cursor: pointer;
}

.content {
    width: 100%;
    height: 150px;  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px;
}

.content .box {
    margin: 0 0 15px;
    width: 100%;
    position:relative;
    background: #fcffff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 15px;
}

.box.image {
    font-size: 72px;
    color: #a9c8d8;
    text-align: center;
    line-height: 1;
}

.box.text {
    color: #bbe3c1;
    word-break:break-all;
    padding: 15px 15px 5px 15px;
}

.box.comment {
    overflow: hidden;
    padding: 0;
    background: #d6e6e9;
}

.avatar {
    float: left;
    overflow: hidden;
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    color: #94d9ec;
    font-size: 32px;
    text-align: center;
    line-height: 70px;
}

.bubble {
    position: relative;
    float: right;
    width: 150px;
    height: 45px;
    background: white;
}

.bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: 14px;
    margin-left: -8px;
    bottom: auto;
    border-width: 8px 8px 8px 0px;
    border-color: transparent white;
}

.second .avatar {
    float: right;
}

.second .bubble {
    float: left;
}

.second .bubble:after {
    right: -8px;
    margin-left: 0;
    border-width: 8px 0px 8px 8px;
}



