@charset "utf-8";

html {

}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#FFF;
	font-weight:300;
	color:rgba(0,0,0,0.8);
	}
	
strong,b{
	font-weight:600;
	}

	a:hover {
		text-decoration: none;
	}

h1{font-size:50px;line-height:60px;margin:25px 0;font-weight: 100;}
h2{font-size:40px;margin:15px 0;font-weight: 200;}
h3{font-size:20px;margin:10px 0;font-weight:200;}
h4{font-size:20px;margin:10px 0;font-weight:400;color: #656565;}
h5{font-size:28px;font-weight:400;margin:15px 0;color:#384047;}
h6{font-size:16px;font-weight:400;margin:10px 0;color:#384047;}
p{font-size: 16px;font-weight: 300;margin: 7px 0;color: #666;}



#aboutus {
	background-image: url('../img/aboutus.jpg');
}

#small-package {
	background-image: url('../img/carriables.jpg');
}

#car {
	background-image: url('../img/car.jpg');	
}

#van {
	background-image: url('../img/van.jpg');	
}

#blog {
	background-image: url('../img/blog.jpg');	
}

#shipper {
	background-image: url('../img/shipper.jpg');	
}


.grey-transition {
	-moz-filter: saturate(100%) grayscale(100%) brightness(100%) contrast(100%);
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -webkit-filter: saturate(100%) grayscale(100%) brightness(100%) contrast(100%);
     filter: gray;
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

    -webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition:  0.1s;
}

.grey-transition:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    
    -webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition:  0.1s;
}

.blacknwhite {
	-webkit-filter: saturate(100%) grayscale(100%) brightness(90%) contrast(100%);
	-moz-filter: saturate(100%) grayscale(100%) brightness(90%) contrast(100%);
	filter: saturate(100%) grayscale(100%) brightness(90%) contrast(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}



.small {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.col {
	height: 350px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	padding-top: 120px;
}

.col h3, .col p {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
   
	color: white; 
	position: relative;
	text-align: center;	
	padding: 8px;
	margin: 0;
	display: inline-block;
}

.grey-transition:hover + h2 {
	background-color: red;
}





/********* Carousel Styles ************/

.carousel-inner img {
    width: 100%;
    max-height: 600px;
}


/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
	padding: 10px;
}

.header-text h3 span {
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}












.btn,.btn-lg,.input-lg{border-radius:3px;}

.form-control{
	border-radius:3px;
	-webkit-box-shadow:none;
	box-shadow:none;
	border:0;
	}

	
.input-lg{height:55px;}

	
/*========== MODULE ==============*/
.section {
	margin-top: 0px;
	padding: 50px 50px;
}

.grey {
	background: #f9f9f9;
}
	
	
/*========== 1.   ==============*/	


.logo {
	padding: 45px 0;
	text-align:center;
}
.subscribe {
	padding: 45px 0;
}
.alertMsg {
	float: left;
	font-size: 14px;
	display: block;
	padding: 5px 17px;
}

.big-button {
	background: #5abdff;
}




/*========== 3. HERO IMAGE ==============*/
.section-title {
	text-align:center;
	margin-bottom:30px;
}
.section-title h2 {
	color:#384047;
}
.section-title h4 {
	color:#8a8a8a;
}
.heroimg img, .clientlogo img {
	max-width:100%;
}
/*========== 4. FEATURES ==============*/

.features {
	margin:25px 0;
}

/*========== 5. TESTIMONIALS ==============*/

.testblock {
	width:100%;
	height:auto;
	padding:20px;
	background:#FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	position:relative;
	line-height:28px;
	font-size:16px;
}
.testblock:after {
	top: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.clientblock {
	margin-top:40px;
	margin-left:10px;
}
.clientblock img {
	float:left;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.clientblock p {
	padding-left:80px;
	padding-top:13px;
}
.clientblock p strong {
	color:#384047;
	font-size:16px;
}
/* Animation */

.testblock {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.testblock:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}
/*========== 6. PLANS AND PRICING ==============*/
.pricing {
	border: none;
}

.pricing .panel-heading {
	background: #5abdff;
	color: white;
	border-radius: 1px;
}

.pricing .panel-body {
	text-align: center;
	border-radius: 0;
}

.pricing .fa {
	font-size: 60px;
}




.pricing {
	text-align:center;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.pricing .price {
	font-size:52px;
	font-weight:300;
	margin:10px 0;
}
.pricing .billing {
	text-transform:uppercase;
	color:#FFF;
	opacity:0.7;
}
.pricing .price .curr {
	display:inline-block;
	font-size:20px;
	vertical-align:super;
}
.pricing .price .per {
	display:inline-block;
	font-size:20px;
	vertical-align: baseline;
}
/* Animation */

.pricing {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.pricing:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}

/*========== 7. FAQ ==============*/

.faq p {
	margin-bottom:25px;
}


/*========== SAY HI ==============*/




.theme-button, .theme-button:hover {
	border-width: 2px;
	border-color: #5abdff;
	background: #5abdff;
	border-radius: 10%;
	color: white;
	font-weight: 400;
}




#say-hi input, #say-hi textarea, #say-hi button {
	margin-top: 3px;
}






#what-is .glyphicon {
	font-size: 50px;
	font-weight: 300;
	color: white;
}



.embossed-heavy {
	border: none;	 
}


.theme-highlights {
	color: #3498DB;
}

.theme-highlights:hover {
	color: #5abdff;
}

.theme-color1 {
	color: #3498DB;
}

.theme-color2 {
	color: #5abdff;
}


.circle {
  position: relative;
	  padding-bottom: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: transparent;
  
  border-width: 1px;
  border-color: black;
  margin-bottom: 5px;

}


	.circle__grandparent {
		  position: absolute;
		  width: 100%;
		  height: 100%;
	}

		.circle__parent {
			  display: table;
  width:auto;
  			height: 100%;
  			width: 100%;
		}

			.circle__child {
  				display: table-cell;
				  vertical-align: middle;
  				text-align: center;
			}











/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
