.nav-sidebar li {
	height: auto;
	border: none;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    text-align: center;
}
.nav-sidebar li.active a { 
    cursor: default;
    background-color: #5f97d8; 
    color: #fff; 
    height: auto;
}
.nav-sidebar .active a:hover {
    background-color: #5f97d8;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

img.visa {
	width: auto;
	height: 25px;
}

img.mastercard {
	width: auto;
	height: 35px;
}

img.paypal {
	width: auto;
	height: 20px;
}









/********** Tabs **************/
.tab-pane {
	min-height: 280px;	
}



.nav-tabs > li > a, 
	.nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus,
    .nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
	cursor: default;
	background-color: rgba(204,170,170,0);
	border-color: transparent;
	border-bottom: #5f97d8;
	border-bottom-style: solid;
	border-bottom-width: 4px;
}
/********** ./Tabs **************/