/******************* Signup **********************/
#createAccBtn {
	float: right;
	display: inline;

}

#disclaimer {
	display: inline;
	float: left;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #f5f5f5;
	margin: 1em 0;
	padding: 0;
}

/******************* Signin **********************/
#signin {
	background: #99a1a7;
}

#signin .panel {
	margin-top: 20px;
}

input

/******************* reset password **********************/
#reset-pass {
	background: #34495E;
}