/***************** SIGNUP CHOICE ******************/
#customer {
	background-image: url('../img/customer.jpg');
}

#shipper {
	background-image: url('../img/carriables.jpg');
}

.small {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.col {
	height: 350px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	padding-top: 100px;
	text-align: center;
	color: white;
}







/******************* Signup **********************/
#createAccBtn {
	float: right;
	display: inline;

}

#disclaimer {
	display: inline;
	float: left;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #f5f5f5;
	margin: 1em 0;
	padding: 0;
}


/******************* Signin **********************/
#signin {
	background: #99a1a7;
}

#signin .panel {
	margin-top: 20px;
}


/******************* reset password **********************/
#reset-pass {
	background: #34495E;
}

/**
body { 
  background: url(../img/signin.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}
**/

.panel-default {
margin-top:80px;
}

.panel-heading {
	background: transparent;
}

.form-group.last { margin-bottom:0px; }