
#forgot-password {
	font-size: small;	
}

#createAccBtn {
	float: right;
	display: inline;

}

#disclaimer {
	display: inline;
	float: left;
}



.white {
	color: white;
}

.blue {
	color: #507ecd;
}

.grey {
	color: #5a5a5a;
}