    
a.list-group-item {
	height:auto;
	min-height: 120px;
	background: white;
}

a.list-group-item:hover {
	background: rgba(255,255,248,0.55);
}

.list-group-item img {
	
}
	

.list-group-item .col-md-4 p span.money {
	text-align: center;
}

.list-group-item .col-md-4 p span.postDate {
	float: right;
} 

/*************** Questr Module ******************/
.postPic {
	width: 90px;
	height: 90px;
}

.postTitle {
	
}

.postDesc {
	
}


