/*
Attributes for social network icons in the footer
*/

facebook, twitter, linkedin, tumblr, email{
  font-size:28px;
  font-weight:500;
  margin:10px 0;
  color:rgba(120,120,120,1);
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

email{
  font-size:22px;
}

facebook:hover{color:#4568b8;}
twitter:hover{color:#1ab2e8;}
linkedin:hover{color:#007ebd;}
tumblr:hover{color:#507490;}
email:hover{color:#5b85a5;}

facebook:active,twitter:active,linkedin:active,tumblr:active,email:active{color:rgba(180,180,180,1);}
