
@charset "utf-8";

body{
	font-family: "Helvetica Neue";
	font-size: 14px;
}

h1{
	color: rgba(240,240,240,1);
	text-shadow: 1px 1px rgba(140,140,140,1);
	font-weight: lighter;
}

h3, h4, h5, h6, p{
	color: rgba(120,120,120,1);
}

h2{
	font-size: 20px;
	color: rgba(200,200,200,1);
	text-shadow: 1px 1px rgba(140,140,140,1);
}



.banner{
	width:100%;
	height: 20%;
	max-height: 200px;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 20%;
	padding-right: 20%;

	background: url("../img/banner.jpg") no-repeat;
	background-size: 100% auto;
}




