h1, h2, h3, h4, h5, h6 {

}

.lead {
	font-weight: 200;
}


label {
	font-weight: 400;
}

html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: white;
	height: 100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}
 
body {
	background: #e9ebee;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.43;
	font-size: 14px;
	color: #565a5c;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	
	text-align: left;
	direction: ltr;
	unicode-bidi: embed;
	overflow-x: hidden;
 }
 
 
/************ footer ****************/
footer {
	background: white;
	width:100%;
	font-size: 14px;
	text-align: center;
	border: none;
	color: #7f8c8d;
}

footer .row {
	padding:15px;
}

footer ul {
	
}

footer ul li {
	list-style: none;
	display: inline;
}

footer ul.social-links {
	padding: 0;	
	margin-top: 5px;
}

footer ul.social-links li {
	display: inline;
}

footer small.title {
	font-weight: bold;
}


.btn-circle {
	width: 26px;
	height: 26px;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 50%;
	background: transparent;
	border-style: solid;
	border-width: 2px;
	border-color: #9aa4af;
	color: #9aa4af;
	margin-right: 1px;

	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;

}


.btn-circle-md {
	width: 90px;
	height: 90px;
	text-align: center;
	padding: 5px 0;
	font-size: 36px;
	line-height: 1.428571429;
	border-radius: 50%;
	background: transparent;
	border-style: solid;
	border-width: 3px;
	border-color: #8f8f8f;
	color: #8f8f8f;
	margin-right: 5px;

	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;

}



.btn-circle-lg {
	width: 90px;
	height: 90px;
	text-align: center;
	padding: 5px 0;
	font-size: 60px;
	line-height: 1.428571429;
	border-radius: 50%;
	background: transparent;
	border-style: solid;
	border-width: 3px;
	border-color: #b7c8d4;
	color: #b7c8d4;

	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;

}


.twitter .btn-circle:hover,  .twitter .btn-circle-md:hover {
	border-color: #1ab2e8;
	color: #1ab2e8;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.facebook .btn-circle:hover, .facebook .btn-circle-md:hover {
	border-color: #4568b8;
	color: #4568b8;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.tumblr .btn-circle:hover, .tumblr .btn-circle-md:hover {
	border-color: #507490;
	color: #507490;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.linkedin .btn-circle:hover, .linkedin .btn-circle-md:hover {
	border-color: #007ebd;
	color: #007ebd;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.email .btn-circle:hover, .email .btn-circle-md:hover {
	border-color: rgba(190,190,190,1);
	color: rgba(190,190,190,1);
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.wechat .btn-circle:hover, .wechat .btn-circle-md:hover {
	border-color: #a1d92d;
	color: #a1d92d;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}


.section {
	padding-bottom: 10px;
	padding-top: 10px;
}



hr {
	display: block;
	height: 1px;
}

.inline  {
	display: inline;	
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.body-prop {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background: white;
}

.border-colours {
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-width: 3px;
}

.no-borders {
	border: none;
}


/********************* Angular Stuff *************************/
.ng-invalid.ng-dirty {
 border-color: red; 
}

.ng-valid.ng-dirty {
    border-color: green; 
}


/******************** Buttons ***********************/
button.btn-default {
	border-radius: 2px;
}










 
 /*************** Panels ***************/
.panel-default {
	background: white;
}

.panel-default .panel-heading {
	background: white;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-color: #f4f4f4;
}

.panel-default .panel-heading .panel-title {
	font-size: 20px;
	display: inline;
}

.panel-default label.control-label p {
	font-weight: 600;
	color: #666;
}

.panel-default .panel-heading .panel-title ul {
	display: inline;
	margin: 0;
	padding: 0;
}

.panel-default .panel-heading .panel-title ul li {
	display: inline;	
	margin: 0;
}

.panel-default .panel-heading .panel-title ul li a {
	margin-right: 10px;
	color: #a5a5a5;
}

.panel-default .panel-heading .panel-title ul li.active a {
	color: #5f97d8;
	border-bottom: #5f97d8;
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

.panel-default .panel-heading .panel-title ul li a:hover {
	color: #5f97d8;
	border-bottom: #5f97d8;
	border-bottom-style: solid;
	border-bottom-width: 4px;	
}

.panel-default .panel-heading a.pull-right {
	font-size: small;
	margin-top: 5px;
}


.panel-default .panel-content, .panel-default panel-body {
	background: white;
	border: none;
}

.panel-default .panel-footer {
	border-top: 1px;
	border-top-style: solid;
	border-color: #f4f4f4;
	background: white;
}


/************* Buttons ************/
.btn-classic {
  background-color: #ffffff;
  *background-color: #f6f7f8;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f7f8 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f6f7f8));
  background-image: -webkit-linear-gradient(top, #ffffff, #f6f7f8);
  background-image: -o-linear-gradient(top, #ffffff, #f6f7f8);
  background-image: linear-gradient(to bottom, #ffffff, #f6f7f8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  
  
border: 1px solid;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
-webkit-box-sizing: content-box;
font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
-webkit-font-smoothing: antialiased;
font-weight: bold;
text-align: center;
vertical-align: middle;

border-color: #cdced0 #c5c6c8 #b6b7b9;
color: #4e5665;
text-shadow: 0 1px 0 #fff;
}

select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: â€;
    
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 15px;
}

select option {

}

.btn-classic:hover,
.btn-classic:focus,
.btn-classic:active,
.btn-classic.active,
.btn-classic.disabled,
.btn-classic[disabled] {
	color: #4e5665;
}




.dropdown button.btn:hover,
.dropdown button.btn:focus,
.dropdown button.btn:active,
.dropdown button.btn.active,
.dropdown button.btn.disabled,
.dropdown button.btn[disabled],
.btn-grad:hover,
.btn-grad:focus,
.btn-grad:active,
.btn-grad:active,
.btn-grad:disabled,
.btn-grad[disabled] {
  color: #000000;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.dropdown button.btn:active,
.dropdown button.btn.active,
.btn-grad.active,
.btn-grad.active {
  background-color: #cdcdcd \9;
}



/******** Pagination ************/
.pagination li a {
	color: #777777;
}

.pagination li a:hover {
	color: #333333;
	background: white;
}

.pagination li.active a, .pagination li.active a:hover {
	background: grey;
	border-color: grey;
}


/************* Alert *****************/
.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.alert a {color: gold;}



/************* Images *****************/
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin: 0;
}

.imageUploader {
    height: auto;
    width: 10px;
}

/************* Input Boxes *****************/
input.form-control, input.form-control, textarea.form-control {
	border: 1px;
	border-style: solid;
	border-color: #dce0e0;
	background: white;
	box-shadow: 0px 0px 0px black;
	border-radius: 2px;
}

input.form-control:focus, textarea.form-control:focus {
	border: 1px;
	border-style: solid;
	border-color: #5f97d8;
}




/*************** Primary Navbar ***************/
.navbar {
	background: white;
	margin: 0;
	border: none;
	border-radius: 0;
	padding: 0px 50px;
}

.navbar-default .navbar-nav > li > a {
  background-color: transparent;
  border-bottom: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #3498db;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #3498db;
  background-color: transparent;
}

.navbar .navbar-brand {
	color: #3498db; 
	font-size: 25px;
}

.navbar-default .dropdown-menu {
	background: rgba(255,255,255,0.95);
	text-align: center;
	box-shadow: 0px 0px 0px black;
}



/** Post a shipment **/
.navbar-default #post-shipment {
	background: #2ecc71;
	color: white;
	border: none;
	padding: 8px 10px;
	margin-top: 5px;
}

/** search **/
.navbar #search-btn {
	background: transparent;
	color: grey;
	position: absolute;
	margin-bottom: 30px;
	z-index: 9999;
}


.profileImg {
	float: left;
	display: block;
	margin: 0;
}

#notifications .dropdown-menu li a {
	min-width: 350px;
	max-height: 20px;
}
#notifications .dropdown-menu li .imgBox {
	margin: 0;
	padding: 0;
	
}



 /********* Generic Theme classes **********/
.grey {
	background: #f9f9f9;
}

.white {
	background: white;
}

.light-grey {
	color: #6a7480;
}

.lighter-grey {
	color: #9197a3;
}

.lightest-grey {
	color: #e9eaed;
}

.theme-colour {
	color: #3498db;
}

.top-margin {
	margin-top: 8px;
}


 /********* no image post **********/
.no-image {
 	background: #3498db;
 	color: white;
	 max-width: 100%;
	 padding: 0;
 }

.no-image span.pay {
	width: auto;
	display: inline-block;
	
}
 
.no-image span.pay h3 {
	background: rgba(0,0,0,0.6);
	color: white;
	font-weight: 300;
	text-align: center;
	display: block;
	padding: 4px 10px;
}
 
.no-image h1 {
	text-align: center;
	margin: 0;
	padding-top: 18px;
	padding-bottom: 24px;
}





