html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: aqua;
}
 
body {
	background: #e9eaed;
	/** background: #fafafa; **/
	
	overflow-x: hidden;
 }
 
footer {
	border-top: 1px solid #ddd;
	margin-top: 35px;
	padding-top: 6px;
	text-align: center;
	font-size: 12px;
	background: white;
}
 
 footer ul {
	 list-style-type: none;
 }
 
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.shadows {
	-webkit-box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
}

.border-radius {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
 

/*************** Theme colour & details ********************/
li a:link {
	color: #777777;
}

li a:hover {
	color: #5f97d8;
}


.navbar-default .navbar-nav > .active {
    color: #000;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:active,
 .navbar-default .navbar-nav > .active > a:focus {
      color: #5f97d8;
      background: transparent;
 }
  d
 
/*************** Primary Navbar ***************/
nav.navbar {
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.nav .form-control .search {
	border-color: white;
	-webkit-box-shadow: 1px 1.5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1.5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1.5px 0 rgba(0, 0, 0, 0.15);
}

.nav button.btn span {
	border-color: transparent;
	background: aqua;
	color: aqua;
}

.profileImg {
	width: 40px;
	height: auto;
	float: left;
}


#notifications .dropdown-menu li a {
	min-width: 350px;
	max-height: 20px;
}
#notifications .dropdown-menu li .imgBox {
	margin: 0;
	padding: 0;
}


/*************** Secondary Navbar ***************/
.secondaryNavRow ul {
	background: white;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center;
	
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #f8f8f8;
}

.secondaryNavRow ul li {
	display: inline-block;
	background: white;
	margin: 0;
	padding: 0;
	height: 30px;
}

.secondaryNavRow ul li:hover {
	border-bottom-style: solid;
	border-bottom-width: 6px;
	border-bottom-color: #5f97d8;
}

.secondaryNavRow ul li.active {
	border-bottom-style: solid;
	border-bottom-width: 6px;
	border-bottom-color: #5f97d8;
}

.secondaryNavRow ul li.quest {
	margin-right: 30px;
}





/*************** Well, Panels ***************/
.well, .panel-default {
	background: white;
	border: none; 
	-webkit-box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
}

.panel-default .panel-heading {
	border: none;
}

.panel-default .panel-content {
	background: white;
}



/************* Buttons ************/
.btn {
	color: #777777;
	background: white;
	border-color: transparent;
}

.btn:hover {
	color: #333333;
	background: white;
}




/******** Pagination ************/
.pagination li a {
	color: #777777;
}

.pagination li a:hover {
	color: #333333;
	background: white;
}

.pagination li.active a, .pagination li.active a:hover {
	background: grey;
	border-color: grey;
}


/********* Dropdown *********/
.dropdown-menu {
	text-align: center;
}


/************* Images *****************/
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.imageUploader {
    height: auto;
    width: 10px;
}

/************* Input Boxes *****************/
input.form-control {
	border-color: white;
	-webkit-box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
}

input.form-control:focus {
	border-color: blue;
	-webkit-box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1.5px 0 rgba(0, 0, 0, 0.15);
}


/********** Tabs **************/
.tab-pane {
	min-height: 280px;	
}


.nav-tabs > li > a, 
	.nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus,
    .nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
	cursor: default;
	background-color: rgba(204,170,170,0);
	border-color: transparent;
}
          
          
          
          
          
          
          
.inputBackground {
	background: #f2f2f2;
	padding: 10px;
}
 
 
 
 
 
 
 
 
 
 .white {
	color: white;
}

.blue {
	color: #507ecd;
}

.grey {
	color: #5a5a5a;
}

.light-grey {
	color: #979797;
}

.otherWell {
	background: #f7f7f7;	
}