html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: aqua;
}
 
body {
	background: #e9eaed;
	/** background: #fafafa; **/
	
	overflow-x: hidden;
 }
 
footer {
	background: white;
	padding-top: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #fdfdfd;
}
 
 footer ul {
	 list-style-type: none;
 }
 
footer ul li {

}

footer ul.list li {
	margin-bottom: -6px;
}
 
hr {
	display: block;
	height: 1px;
	color: #fdfdfd;
}

.inline  {
	display: inline;	
}

.no-margin {
	margin: 0;
}

.shadows {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0px 0 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0px 0 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0px 0 0 rgba(0, 0, 0, 0.1);
}

.body-borders {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: none;
}

.no-borders {
	border: none;
}
 
 /*************** Well, Panels ***************/
.well {
	background: white; 
}

.other-well {
	background: #fafafa;
}

.panel-default {
	background: rgba(255,255,255,0.94);
}

.panel-default .panel-heading {
	background: rgba(255,255,255,0.94);
	color: #a5a5a5;
	border-bottom: 1px;
	border-left: none;
	border-right: none;
	border-bottom-style: solid;
	border-bottom-color: #e9f0f5;
}
.panel-default .panel-heading .panel-title {
	font-size: 20px;
	color: grey;
	display: inline;
}

.panel-default .panel-heading .panel-title ul {
	display: inline;
	margin: 0;
	padding: 0;
}

.panel-default .panel-heading .panel-title ul li {
	display: inline;	
	margin: 0;
}

.panel-default .panel-heading .panel-title ul li a {
	margin-right: 10px;
	color: #a5a5a5;
}

.panel-default .panel-heading .panel-title ul li.active a {
	color: #5f97d8;
	border-bottom: #5f97d8;
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

.panel-default .panel-heading .panel-title ul li a:hover {
	color: #5f97d8;
	border-bottom: #5f97d8;
	border-bottom-style: solid;
	border-bottom-width: 4px;	
}

.panel-default .panel-heading a.pull-right {
	font-size: small;
	margin-top: 5px;
}


.panel-default .panel-content, .panel-default panel-body {
	background: rgba(255,255,255,0.94);
}



/************* Buttons ************/

.dropdown button.btn, .btn-grad {
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	color: black;
	
  text-shadow: 0 0.7px 0 rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: -o-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.dropdown button.btn:hover,
.dropdown button.btn:focus,
.dropdown button.btn:active,
.dropdown button.btn.active,
.dropdown button.btn.disabled,
.dropdown button.btn[disabled],
.btn-grad:hover,
.btn-grad:focus,
.btn-grad:active,
.btn-grad:active,
.btn-grad:disabled,
.btn-grad[disabled] {
  color: #000000;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.dropdown button.btn:active,
.dropdown button.btn.active,
.btn-grad.active,
.btn-grad.active {
  background-color: #cdcdcd \9;
}

/******** Pagination ************/
.pagination li a {
	color: #777777;
}

.pagination li a:hover {
	color: #333333;
	background: white;
}

.pagination li.active a, .pagination li.active a:hover {
	background: grey;
	border-color: grey;
}


/********* Dropdown *********/
.dropdown-menu {
	text-align: center;
}


/************* Alert *****************/
.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.alert a {color: gold;}



/************* Images *****************/
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin: 0;
}

.imageUploader {
    height: auto;
    width: 10px;
}

/************* Input Boxes *****************/
input.form-control, input.form-control, textarea.form-control {
	border: 1px;
	border-style: solid;
	border-color: #e2e2e2;
	background: white;
}

input.form-control:focus, textarea.form-control:focus {
	border: 1px;
	border-style: solid;
	border-color: #5f97d8;
}

/*************** Primary Navbar ***************/
.brand {
	z-index: 9;
	position: absolute;
	width: 100%;
	margin-top: 6px;
	background: none;
	font-size: 18px;
	font-weight: bolder;
}

.navbar-left input.search {
	background: #bce0f5;
	border-width: 3px;
	border-style: solid;
	border-color: aqua;
}

.nav button.btn span {
	border-color: transparent;
	background: aqua;
	color: aqua;
}

.profileImg {
	width: 40px;
	height: auto;
	float: left;
}

#notifications .dropdown-menu li a {
	min-width: 350px;
	max-height: 20px;
}
#notifications .dropdown-menu li .imgBox {
	margin: 0;
	padding: 0;
}

nav .glyphicon {
	font-size: large;
	margin-right: 6px;
}


/*************** Secondary Navbar ***************/
.secondaryNavRow ul {
	background: white;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center;
	
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #f8f8f8;
}

.secondaryNavRow ul li {
	display: inline-block;
	background: white;
	margin: 0;
	padding: 0;
	height: 30px;
}

.secondaryNavRow ul li:hover {
	border-bottom-style: solid;
	border-bottom-width: 6px;
	border-bottom-color: #5f97d8;
}

.secondaryNavRow ul li.active {
	border-bottom-style: solid;
	border-bottom-width: 6px;
	border-bottom-color: #5f97d8;
}

.secondaryNavRow ul li.quest {
	margin-right: 30px;
}




  
.inputBackground {
	background: #f2f2f2;
	padding: 10px;
}
 
 .white {
	color: white;
}

.blue {
	color: #507ecd;
}

.grey {
	color: #a3a3a3;
}

.light-grey {
	color: #cbcbd0;
}

.theme-colour {
	color: #5f97d8;
}


 /********* no image post **********/
.no-image {
 	background: #5f97d8;
	 max-width: 100%;
	 padding: 0;
 }
 
.no-image h1 {
	text-align: center;
	margin: 0;
	padding-top: 18px;
	padding-bottom: 24px;
}

.no-image .glyphicon {
	color: white;
} 




