

form {
	padding: 0;
	display: inline;
	float: right;
}

.contact {
	float: right;
}

.nav-tabs {
	border: none;
}

input {
	display: inline;
	white-space: nowrap;
}


hr {
	margin: 0;
}

#shipperName {
	margin: 0;
}


.profile-img {
	max-width: 10px;
	max-height: 10px;
	background: aqua;	
}
